<!doctype html>
<!--
    dialogEmailV2.html
    inputs :
      none
    ctrl :
      ctrlEditDialogEmail

-->


<div ng-controller="ctrlEditFocus">

  <div class="modal-header row c4p-color-gradient0">

          <div class="col-xxs-12">
              <ul class="nav nav-pills">
                <li  ng-class="{active:onlyFeedback}">
                  <a class="btn disabled">
                      <h5>{{title}}</h5>
                  </a>
                </li>
                <li class="pull-right">
                  <a ng-click="close()" class="btn" ng-disabled="isEditFocused">
                      <span class="">&times;</span>
                  </a>
                </li>
              </ul>
          </div>
  </div>


  <div class="modal-body row c4p-color-gradient0">
      <div class="c4p-container-scroll-y">
      <div class="c4p-container">

            <div class="col-xxs-12" style="padding:20px;">
              <div class="col-xxs-12" ng-bind-html="to_trusted(email.body)"></div>

              <button class="btn btn-primary col-xxs-12 col-sm-4 col-sm-offset-8" ng-click="createEmail()">
                  <span>{{srvLocale.translations.htmlButtonSend}}</span>
              </button>
            </div>

      </div>
      </div>
  </div>
</div>


<!--

<div class="row">
    <div class="c4p-dialog-header c4p-color-gradient0">

        <div class="btn c4p-color-action-transparent " ng-click="close()" ng-show="!modeEdit">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </div>

        <div class="btn c4p-padding-w-packed c4p-color-action-transparent">
            <span>{{title}}</span>
        </div>

        <div ng-show="modeEdit" class="btn c4p-color-action-transparent" ng-click="openDialogContacts()">
            <span class="glyphicon glyphicon-user"></span>
        </div>

        <div ng-show="modeEdit" class="btn c4p-color-action-transparent" ng-click="openDialogAttachments()">
            <span class="glyphicon glyphicon-paper-clip"></span>
        </div>

        <div ng-show="modeEdit" class="btn c4p-color-action-transparent" ng-click="openDialogPasteNote()">
            <span class="glyphicon glyphicon-file"></span>
        </div>

        <div ng-show="modeEdit" class="btn c4p-color-action-transparent" ng-click="openDialogPasteReport()">
            <span class="glyphicon glyphicon-file-text"></span>
        </div>

        <div ng-show="editable && !modeEdit" class="btn c4p-color-action-transparent" ng-click="setModeEdit(true)">
            <span class="glyphicon glyphicon-edit"></span>
        </div>

        <div class="btn c4p-padding-w-packed">
            <div class="c4p-icon-std glyphicon">&nbsp;</div>
        </div>

        <div class="pull-right" ng-show="modeEdit">
            <div class="btn c4p-padding-w-packed c4p-color-action-transparent"
                 ng-click="createEmail()" style="display: inline-block">
                <span class="c4p-icon-std glyphicon glyphicon-envelope"></span>
            </div>

            &nbsp;
            <div class="btn c4p-padding-w-packed c4p-color-cancel-transparent-transparent c4p-stroke"
                 ng-click="close()" style="display: inline-block">
                <span class="c4p-icon-std glyphicon glyphicon-times-circle"></span>
            </div>
        </div>
    </div>
</div>

<div c4p-show="modeEdit"
    ng-class="{'c4p-color-a-gradient4': documents.length > 0, 'c4p-color-{{getTypeColor(object.a4p_type)}}-gradient3': documents.length == 0}">
    <div class="row">
        <div class="col-xxs-12"
             resizecss-height="getResizeHeight() -getPathValue('parentNode.parentNode.previousElementSibling', 'offsetHeight')"
             sense-opts="{name:'dialogEmail', axeY:'scroll', watchRefresh:'mailLastUpdate'}"
             sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}">
            <div class="container">
                <div class="c4p-form-group c4p-color-a-gradient1">
                    <div class="row">

                        <div>
                            <c4p-input title-var="srvLocale.translations.htmlFormTo"
                                       ng-model="emailInput"
                                       ng-blur="addEmailToList(emailInput);emailInput='';"
                                       placeholder="{{srvLocale.translations.htmlFormToPlaceHolder}}"
                                       style="width: 100%"></c4p-input>
                        </div>
                    </div>
                    <div class="row c4p-mail-attachment-list c4p-color-a-gradient1"
                         ng-show="(emails.length > 0 || contacts.length > 0)">
                        <div class="col-xxs-12">

                            <div>
                                <div ng-repeat="item in contacts"
                                     class="row c4p-mail-attachment"
                                     ng-class="{'c4p-edit': modeEdit, 'c4p-noedit': !modeEdit}">

                                        <span ng-controller="ctrlNamedObject"
                                              ng-init="init(item)" class="c4p-mail-attachment-name">{{itemName}}</span>

                                    <a ng-click="closeAlert($index,'contact')"><span
                                            class="glyphicon glyphicon-times-circle"></span></a>
                                </div>
                                <div ng-repeat="item in emails"
                                     class="c4p-mail-attachment"
                                     ng-class="{'c4p-edit': modeEdit, 'c4p-noedit': !modeEdit}">


                                    <span class="c4p-mail-attachment-name">{{item.email}}</span>
                                    <a ng-click="closeAlert($index,'email')"><span
                                            class="glyphicon glyphicon-times-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="errorMap.email.length > 0">
                        <div class="help-inline c4p-field-error-message" ng-repeat="error in errorMap.email">{{error}}</div>
                    </div>
                </div>
                <div class="row c4p-form-group c4p-color-a-gradient2">

                    <div>
                        <c4p-input type-var="text"
                                   style="width:100%"
                                   ng-model="email.subject"
                                   title-var="srvLocale.translations.htmlFormSubject"
                                   placeholder="{{srvLocale.translations.htmlFormSubjectPlaceHolder}}"></c4p-input>
                    </div>
                    <span class="help-inline c4p-field-error-message" ng-show="errorMap.subject">{{errorMap.subject}}</span>
                </div>
                <div class="row c4p-form-group c4p-color-a-gradient3">

                    <div class="col-xxs-12">
                        <c4p-input ng-model='email.body'
                                   placeholder="{{srvLocale.translations.htmlFormMessagePlaceholder}}"
                                   type="textarea"
                                   rows=5 cols=40>
                        </c4p-input>
                    </div>
                    <span class="help-inline c4p-field-error-message" ng-show="errorMap.message">{{errorMap.message}}</span>
                </div>
                <div class="row c4p-form-group c4p-color-a-gradient4"
                     ng-show="documents.length > 0">

                    <label class="control-label a4p-dot">{{srvLocale.translations.htmlDialogEmailAttachment}}</label>

                    <div class="col-xxs-12">
                        <div ng-repeat="item in documents"
                             class="c4p-mail-attachment">

                                <span ng-controller="ctrlNamedObject"
                                      ng-init="init(item)" class="c4p-mail-attachment-name">{{itemName}}</span>
                            <a ng-click="closeAlert($index,'attachment')"><span
                                    class="glyphicon glyphicon-times-circle"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xxs-12" ng-style="{minHeight:getResizeHeight()+'px'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div c4p-show="!modeEdit"
     ng-class="{'c4p-color-a-gradient4': documents.length > 0, 'c4p-color-{{getTypeColor(object.a4p_type)}}-gradient3': documents.length == 0}">
    <div class="row">
        <div class="col-xxs-12"
             resizecss-height="getResizeHeight() -getPathValue('parentNode.parentNode.previousElementSibling', 'offsetHeight')"
             sense-opts="{name:'dialogEmail', axeY:'scroll', watchRefresh:'mailLastUpdate'}"
             sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}">
            <div class="container">
                <div class="c4p-color-a-gradient1">
                    <div class="c4p-card">
                        <span class="c4p-size-bigger">{{email.subject}}</span>
                    </div>
                </div>
                <div class="c4p-color-a-gradient2">
                    <div class="c4p-card">
                        <div class="c4p-size-big">
                            <span>{{srvLocale.translations.htmlDialogEmailMailedPeople}}</span>
                        </div>
                        <div>
                            <span ng-repeat="item in contacts">
                                <span ng-show="$index > 0">,</span>
                                <span ng-controller="ctrlNamedObject"
                                      ng-init="init(item)">{{itemName}}</span>
                            </span>
                        </div>

                        <div>
                            <span ng-repeat="item in emails">
                                <span ng-show="$index > 0">,</span>
                                <span>{{item.email}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="c4p-color-a-gradient3">
                    <div class="c4p-card">
                        <div ng-bind-html="to_trusted(email.body)"></div>
                    </div>
                </div>
                <div class="c4p-color-a-gradient4" ng-show="documents.length > 0">
                    <div class="c4p-card">
                        <div class="c4p-size-big">
                            <span>{{srvLocale.translations.htmlDialogEmailJoinedDoc}}</span>
                        </div>
                        <span>
                            <span ng-repeat="item in documents">
                                <span ng-show="$index > 0">,</span>
                                <span ng-controller="ctrlNamedObject"
                                      ng-init="init(item)">{{itemName}}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->
