<!-- ng-style="{width:getResizeWidth()+'px', height:getResizeHeight()+'px'}"
     resize-opts="{name:'dialog_ctrlShowImage'}"
    -->
<div class="c4p-modal-img">

	<div class="c4p-modal-close btn btn-default" ng-click="close()">
	        <!--<span class="icon-3x glyphicon glyphicon-times-circle c4p-stroke"></span>-->
	        <span class="close">&times;</span>
	</div>

	<div class="c4p-modal-img-container"
		sense-opts="{name:'dialog_ctrlShowImage', axeX:'swipe', axeY:'', init:'setSensePanel($sense);'}"
	    sense-scrollopts="{scrollbarClass:'c4p-scrollbar', wheelAction:'zoom', zoom: true, momentum: 0, zoomMin: 1, zoomMax: 10}"
	    sense-swipeend="onImageSwipe($event)">

	    <div class="center-block" style="width:100%;text-align: center;">
	    	<img ng-src="{{imageObject.fileUrl}}" />
	    </div>

	</div>
</div>
