
<div ng-controller="ctrlEditFocus">
    <!-- Headers -->
    <div class="modal-header row c4p-color-gradient0">

            <div class="col-xxs-12">
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                   
                   <!-- <li class="hidden-xs">
                      <a class="btn disabled">
                        <div ng-switch on="note.a4p_type">
                            <h5 ng-switch-when="Report">{{srvLocale.translations.htmlDialogNotePageTitleReport}}</h5>
                            <h5 ng-switch-default>{{srvLocale.translations.htmlDialogNotePageTitleNote}}</h5>
                        </div>
                      </a>
                    </li> -->

                    <li class="hidden-xs" ng-hide="removeEnabled">
                        <a class="btn disabled">
                            <h5>{{srvLocale.translations.htmlTitleNewObject[note.a4p_type]}}</h5>
                        </a>
                    </li>
                    <li class="hidden-xs" ng-show="removeEnabled">
                        <a class="btn disabled">
                            <h5>{{srvLocale.translations.htmlTitleEditObject[note.a4p_type]}}</h5>
                        </a>
                    </li>

                    <li ng-show="removeEnabled && modeEdit">
                        <a class="btn c4p-color-cancel-transparent" ng-click="remove()" ng-disabled="isEditFocused">
                            <span class="glyphicon glyphicon-trash-o"></span>
                        </a>
                    </li>
                    <li ng-show="srvData.isMethodPossibleForObject('shareDocumentByEmail', note)">
                        <a  class="btn" ng-click="submitAndShare()" ng-disabled="isEditFocused"
                             ng-class="{'disabled': srvData.isMethodDisabledForObject('shareDocumentByEmail', note)}">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                    <li ng-show="srvData.isMethodPossibleForObject('shareDocumentByEmail', note)">
                        <a  class="btn" ng-click="submitAndShareByChatter()" ng-disabled="isEditFocused"
                             ng-class="{'disabled': srvData.isMethodDisabledForObject('shareDocumentByChatter', note)}">
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </li>
                    <li ng-show="editable && !modeEdit" >
                        <a  class="btn" ng-click="setModeEdit(true)" ng-disabled="isEditFocused">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                    <li ng-show="modeEdit">
                        <a  class="btn" ng-disabled="isEditFocused"
                             ng-repeat="footer in toolboxInEditMode"
                             ng-click="startSpinner();footer.fn()">
                            <span class="glyphicon glyphicon-{{footer.icon}}"></span>
                        </a>
                    </li>



                    <li class="pull-right">
                        <a class="btn" ng-click="close()" ng-disabled="isEditFocused">
                          <span class="">&times;</span>
                        </a>
                    </li>
                    <li class="pull-right" ng-hide="!modeEdit">
                        <a class="btn" ng-click="submit()" ng-disabled="isEditFocused">
                            <div ng-class="{'c4p-color-ok-transparent' : objectValidated, 'c4p-color-cancel-transparent' : !objectValidated}">
                              <span class="glyphicon glyphicon-check"></span>
                            </div>
                        </a>
                    </li>

                </ul>

        </div>
    </div>

    <!-- Headers 
    <div class="row" resize-opts="{}">
        <div class="c4p-dialog-header c4p-color-gradient0" >
            <div class="btn c4p-color-action-transparent "  ng-click="close()" ng-hide="modeEdit">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </div>

            <div ng-switch on="note.a4p_type" class="btn c4p-padding-w-packed c4p-color-action-transparent">
                <span ng-switch-when="Report">{{srvLocale.translations.htmlDialogNotePageTitleReport}}</span>
                <span ng-switch-default>{{srvLocale.translations.htmlDialogNotePageTitleNote}}</span>
            </div>

            <div class="btn c4p-color-cancel-transparent" ng-show="removeEnabled && modeEdit" ng-click="remove()">
                <span class="c4p-icon-std glyphicon glyphicon-trash"></span>
            </div>

            <div class="btn c4p-color-action-transparent" ng-click="submitAndShare()"
                 ng-show="srvData.isMethodPossibleForObject('shareDocumentByEmail', note)"
                 ng-class="{'disabled': srvData.isMethodDisabledForObject('shareDocumentByEmail', note)}">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>

            <div class="btn c4p-color-action-transparent" ng-click="submitAndShareByChatter()"
                 ng-show="srvData.isMethodPossibleForObject('shareDocumentByEmail', note)"
                 ng-class="{'disabled': srvData.isMethodDisabledForObject('shareDocumentByChatter', note)}">
                <span class="glyphicon glyphicon-share"></span>
            </div>

            <div ng-show="editable && !modeEdit" class="btn c4p-color-action-transparent" ng-click="setModeEdit(true)">
                <span class="glyphicon glyphicon-edit"></span>
            </div>

            <div class="btn c4p-color-action-transparent"
                 ng-repeat="footer in toolboxInEditMode"
                 ng-click="footer.fn()"
                 ng-show="modeEdit">
                <span class="glyphicon glyphicon-{{footer.icon}}"></span>
            </div>
            // ATTENTION: Next line use for vertical align 
            // Sync all icon-Xx value in this file to keep alignment 
            <div class="btn c4p-padding-w-packed">
                <div class="c4p-icon-std glyphicon">&nbsp;</div>
            </div>

            <div class="pull-right" ng-hide="!modeEdit">
                <div class="btn c4p-padding-w-packed c4p-color-ok-transparent c4p-stroke"
                     ng-click="submit()" style="display: inline-block">
                    <span class="c4p-icon-std glyphicon glyphicon-ok"></span>
                </div>

                &nbsp;
                <div class="btn c4p-padding-w-packed c4p-color-cancel-transparent c4p-stroke"
                     ng-click="close()" style="display: inline-block">
                    <span class="c4p-icon-std glyphicon glyphicon-times-circle"></span>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Body 
        <div class="row c4p-dialog-edit-container col-xxs-12 c4p-color-a-gradient{{objectGroups.length}}"
                resizecss-height="responsivePageHeight() -getPathValue('previousElementSibling', 'offsetHeight')"
                sense-opts="{name:'dialogNote', axeY:'scroll', watchRefresh:'noteLastUpdate'}"
                sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
                style="height: 100%;">
    -->
    <div class="modal-body row c4p-color-gradient0">
        <div class="c4p-container-scroll-y">
            <div class="c4p-container" ng-switch on="note.a4p_type">
                <div ng-switch-when="Report">
                    <div ng-include="'views/dialog/dialogNote_report.html'"></div>
                </div>
                <div ng-switch-default>
                    <div ng-include="'views/dialog/dialogNote_note.html'"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>