<div class="modal-body c4p-vertical-container">
    <div class="c4p-dialog c4p-vertical-align">
        <div class="row">
            <div class="col-xxs-offset-1 col-xxs-10 col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 c4p-modal-confirm-container">
                <div class="row">
    				<div class="c4p-dialog-header c4p-color-gradient0">
				        <div class="btn c4p-padding-w-packed">
				            <span>{{text}}</span>
				        </div>
		                <div class="pull-right" ng-hide="false">
				            <div class="btn c4p-padding-w-packed c4p-color-cancel-transparent c4p-stroke"
				                 ng-click="startSpinner();close()" style="display: inline-block">
				                <span class="c4p-icon-std glyphicon glyphicon-times-circle"></span>
				            </div>
<!-- 			                <div class="row c4p-modal-confirm-btns"> -->
<!-- 			                    <button class="btn btn-primary pull-right" ng-click="close()">{{srvLocale.translations.htmlButtonOK}}</button> -->
<!-- 			                </div> -->
		                </div>
					</div>
				</div>

                <div class="row">
                    <div class="col-xxs-12 c4p-modal-confirm-cont"
                         sense-opts="{axeY:'scroll'}"
                         sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}">
                         <div class="container">
	                		<div class="c4p-form-group c4p-color-a-gradient1">
	                            <ul>
	                                <li ng-repeat='item in textArray'>
	                                    <span>{{item}}</span>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
