<!doctype html>
<!--
	ctrl :  ??

-->
<ul class="nav nav-pills"  resize-opts="{name:'guider_header'}">
	<li ng-show="slide != slideGuiderRegister">
		<a 	class="btn btn-link" ng-click="gotoRegister()" ng-disabled="isEditFocused">
			{{srvLocale.translations.htmlButtonRegister}}
		</a>
	</li>
	<li class="dropdown pull-right" ng-hide="isEditFocused">
		<a class="dropdown-toggle" data-toggle="dropdown">
			{{srvLocale.lang.title}} <b class="caret"></b>
		</a>

		<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
			<li ng-repeat="link in srvLocale.langs">
				<a class="white smaller-70" ng-click="srvLocale.setLang(link)">{{link.title}}</a>
			</li>
		</ul>
	</li>
</ul>
