<!doctype html>
<!--

	requestPassword.html

	controller is

	input :

-->
<div ng-controller="ctrlConfig" class="c4p-vertical-container">
	<div id="top" class="">
		<!-- first column - login form -->
		<div class="row">
			<h3 class="col-xxs-12 col-sm-offset-3 col-sm-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
			<h7 class="col-xxs-12 col-sm-offset-3 col-sm-6 white bigger">{{translate('htmlGuiderTextPasswordForgotten')}}</h7>
		</div>


		<form class="form-horizontal" name="forgottenPwdForm" novalidate  style="min-height: 300px;">
			<div class="form-group row" ng-class="{'has-error':forgottenPwdForm.$invalid}">

				<div class="col-xxs-12 col-sm-offset-3 col-sm-6">
						<c4p-input
							class="form-control"
							ng-model="configLogin.email"
							placeholder="{{srvLocale.translations.htmlFormEmailPlaceHolder}}"
							type="mail"
							required>
						pro</c4p-input>
				</div>
			</div>

			<div class="row">
				<a ng-click="requestPassword()"
						class="btn btn-primary col-xxs-12 col-sm-offset-3 col-sm-3"
				><!-- ng-disabled="isEditFocused" -->
					{{translate('htmlButtonRequestPassword')}}
				</a>
				<a class="btn btn-link white col-xxs-12 col-sm-3"
						ng-click="gotoLogin()"
				><!-- ng-disabled="isEditFocused" -->
					{{srvLocale.translations.htmlButtonLogin}}
				</a>
			</div>
		</form>
	</div>
</div>
