<!doctype html>
<!--

	validation.html

	controller is

	input :

-->
<div class="">
	<div id="top" class="">
		<div class="row">
			<h3 class="col-xxs-12 col-sm-offset-3 col-sm-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
		</div>

		<div class="row">
			<span class="pull-left col-sm-offset-3 white" ng-switch="navigationA4pSpinnerState" >
                <span class="c4p-icon-std glyphicon glyphicon-fw glyphicon-refresh glyphicon-spin" ng-switch-when="run"></span>
                <span class="c4p-icon-std glyphicon glyphicon-fw glyphicon-refresh alert-error" ng-switch-when="doneWithPb"></span>
                <span class="c4p-icon-std glyphicon glyphicon-fw glyphicon-refresh close" ng-switch-when="offline"></span>
                <span class="c4p-icon-std glyphicon glyphicon-fw glyphicon-refresh" ng-switch-default></span>
                <span ng-show="(srvData.objectsToDownload.length + srvData.objectsToSave.length)">
                    {{srvData.objectsToDownload.length + srvData.objectsToSave.length}}
                </span>
            </span>

			<span class="col-xxs-11 col-sm-6 white">{{translate('htmlGuiderTextValidation')}}</span>
		</div>

		<div class="row">
			<a4p-carousel class="col-xxs-12 col-sm-offset-3 col-sm-6">
				<a4p-slide active="true">
					<span ng-bind-html="to_trusted(srvLocale.translations.htmlGuiderTextWaiting)"></span>
				</a4p-slide>
			</a4p-carousel>
		</div>
	</div>
</div>
