<!doctype html>
<!--

	validation.html

	controller is

	input :

-->
<div id="top" class="">
	<div class="">
		<div class="row">
			<h3 class="col-xxs-12 col-sm-offset-3 col-sm-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
		</div>

		<div class="row">
            <div class="form-group error col-xxs-12 col-sm-offset-3 col-sm-6 white">
                <label class="control-label">{{translate(messageGuider)}}</label>
            </div>
		</div>

		<div class="row"  style="min-height: 300px;">
		    <button class="btn btn-primary col-xxs-12 col-sm-offset-3 col-sm-4" ng-click="gotoLogin()">{{translate('htmlButtonLogin')}}</button>
		    <a class="btn btn-link white col-xxs-12 text-center col-sm-2" ng-click="gotoSlide(pageGuider, slideGuiderRequestPassword)">{{translate('htmlButtonPasswordForgotten')}}</a>
		</div>
    </div>
</div>
