<!doctype html>
<!--
    meeting_object_editor_doc.html
    inputs :
      none
    ctrl :
      ctrlViewer > ctrlMeeting
-->

<div class="c4p-meeting-content-container" ng-swipe-left="gotoPreviousMeetingPlan()" ng-swipe-right="gotoNextMeetingPlan()">
  <div class="c4p-meeting-content">
      <!--<div class="row">
          <div class="col-xxs-1">
              <input type="text" class="form-control" placeholder="{{selectedMeetingPlan.pos+1}}" disabled />
          </div>
          <div class="col-xxs-11">
              <input type="text" class="form-control" ng-model="selectedMeetingPlan.title"
                    ng-change="currentMeetingNote.title = selectedMeetingPlan.title"/>
          </div>
      </div>-->
      <div class="row">
          <div class="col-xxs-10 col-xxs-offset-1">
              <h4 style="text-transform: capitalize;text-align:center;"
                  ng-show="!meetingPlanTitleEditable"
                  ng-click="meetingPlanTitle = selectedMeetingPlan.title;editMeetingPlanTitle()">
                  {{selectedMeetingPlan.pos+1}} . {{selectedMeetingPlan.title}}
              </h4>

              <div class="col-xxs-12" ng-show="meetingPlanTitleEditable">
                <!--<input type="text" class="form-control" ng-model="meetingPlanTitle">-->
                <c4p-input title-var=""
                           ng-model="selectedMeetingPlan.title"
                           placeholder=""
                           type="text"
                           style="width:100%"
                           warn-var = ""
                           required
                           ng-disabled="isEditFocused"
                           ng-blur="saveMeetingPlanTitle(selectedMeetingPlan.title);setEditFocusState(false);">
                </c4p-input>
              </div>

              <!--<div  class="col-xxs-2 btn"
                    ng-show="meetingPlanTitleEditable"
                    ng-click="saveMeetingPlanTitle(selectedMeetingPlan.title)" ng-disabled="isEditFocused">
                  <i class="glyphicon glyphicon-check" ></i>
              </div>-->
          </div>
      </div>



      <div class="row" style="position:relative"><!-- ng-click="togglePresentation()" -->

          <div class="col-xxs-12" ng-controller="ctrlDetailedObject" ng-init="init(currentMeetingItem)"
                ng-include="'views/navigation/cards/full_card.html'"></div>

          <div class="col-xxs-8 col-xxs-offset-2" ng-show="currentMeetingItem == null">
                <div class="col-xxs-6 btn" ng-disabled="isEditFocused"
                  ng-click="meetingTakePictureObj()">
                      <span class="glyphicon-stack">
                        <i class="glyphicon glyphicon-camera glyphicon-stack-2x"></i>
                      </span>
                </div>
                <div class="col-xxs-6 btn" ng-disabled="isEditFocused"
                  ng-click="meetingSetReadyForDragObject()">
                      <span class="glyphicon-stack">
                        <i class="glyphicon glyphicon-stack-2x glyphicon-{{actionItems['others'].icon}}"></i>
                      </span>
                </div>
                <div class="col-xxs-12 btn" ng-hide="meetingHasBeenUnderstoodByUser">
                      <small>{{srvLocale.translations.htmlMeetingNoElementSelected}}</small>
                </div>
          </div>

          <div class="c4p-meeting-link-drop"
               ng-class="{'active' : dropOver}"
               ng-show="dndActive"
               ng-controller="ctrlMeetingObjLinkDrop"
               sense-opts="{name:'dropObjectMeeting'}"
               sense-dndstart="dndStart($event)"
               sense-dndend="dndEnd($event)"
               sense-dndcancel="dndCancel($event)"
               sense-dropoverenter="dropOverEnter($event)"
               sense-dropoverleave="dropOverLeave($event)"
               sense-dropend="dropEnd($event)">
          </div>
      </div>


      <div class="row">
          <div class="col-xxs-12" ng-controller="ctrlDetailedObject" ng-init="init(currentMeetingNote)"
                ng-include="'views/navigation/cards/full_card.html'"></div>
      </div>
  <!--
      <br />
      <div style="border-bottom: 1px dotted black"></div>
      <br />


      <div class="row">
          <div class="btn c4p-meeting-info-txt"
               ng-click="setActionItem('select', 'side')"
               ng-show="currentMeetingItem == null">
              {{srvLocale.translations.htmlMeetingAdd}}
          </div>
          <div class="btn c4p-meeting-info-txt"
               ng-click="setActionItem('select', 'side')"
               ng-show="currentMeetingItem != null">
               {{srvLocale.translations.htmlMeetingChange}}
          </div>
          <div class="btn c4p-meeting-info-txt "
               ng-click="meetingTakePictureObj()"
               ng-show="currentMeetingItem == null">
              {{srvLocale.translations.htmlActionName.createNewPicture}}
          </div>
          <div class="btn c4p-meeting-info-txt "
               ng-click="doActionObj('editItem', currentMeetingItem)"
               ng-show="currentMeetingItem != null">
              {{srvLocale.translations.htmlActionName.editItem}}
          </div>

      </div>-->
  </div>
</div>
