<!doctype html>
<!--
    meeting_plan.html
    inputs :
      none
    ctrl :
      ctrlMeeting
-->

<div class="container">
    <ul class="nav nav-pills">
        <li>
          <a class="btn disabled" ng-click="updateMeetingObj()" ng-disabled="isEditFocused">
            {{srvLocale.translations.htmlMeetingPlan}}
          </a>
        </li>
        <li class="pull-right">
            <a class="btn" ng-click="addMeetingElement()" ng-disabled="isEditFocused">
                 <i class="glyphicon glyphicon-fw glyphicon-plus"></i>
            </a>
        </li>
    </ul>
</div>

<div class="container" ng-controller="ctrlDragObject">
    <!--  list -->

    <!-- ng-repeat-start and ng-repeat-end are not available in angular1.1.5 :(
         So here the ng-repeat is set on the <ul> tag
         -->
    <ul class="nav nav-pills nav-stacked" ng-repeat="mObj in meetingPlans" >
        <li class="col-xxs-12" >
            <!-- drop zone
           {{srvLocale.translations.htmlMeetingMoveItem}}
           -->
            <a class="col-xxs-12 btn"
                 ng-class="{'btn-info active' : dropOver, 'btn-sm btn-disabled' : !dropOver}"
                 ng-show="dragIsActive && (dragMeetingElementIdx > $index)"
                 ng-controller="ctrlMeetingElementDrop"
                 sense-dndstart="dndStart($event)"
                 sense-dropoverenter="dropOverEnter($event,$element)"
                 sense-dropoverleave="dropOverLeave($event,$element)"
                 sense-dropend="dropEnd($event,$element, $index)">
            </a>
        </li>
        <!--
        TODO : mObj can be either a Plan object or a Plannee object
        Only Plan objects possess an order attribute named 'pos'.
        A Plan object can possess an ordered list of sub Plan objects (order given by 'pos' attribute of sub Plan objects) : none for the moment.
        A sub Plan object has a Plan as parent while a Plan object has an Event as parent.
        A Plan object possess an unordered list of Plannee objects : only 1 for the moment.
        Only Plannee objects possess a pointer on Document/Note/Report object.

        ctrlMeetingElementDrag
        -->
        <li class="col-xxs-12"
            ng-class="{active: (mObj.pos == selectedMeetingPlanPos), 'c4p-click-through' : isEditFocused}"
            style="border-top: 1px solid black">
            <a ng-controller="ctrlMeetingElementDrag"
                ng-init="initMeetingElemDrag(mObj)"
                ng-click="updateMeetingObj(mObj.pos); setActionItem('plan', 'main')"
                sense-longdragoverenter="dragOverEnter($event,$element)"
                sense-longdragoverleave="dragOverLeave($event,$element)"
                sense-longdragstart="setDragMeetingElementIdx($index); meetingElementDragStart($event,$element)"
                sense-longdragmove="dragMove($event,$element)"
                sense-longdragend="dragEnd($event,$element)"
                sense-longdragcancel="dragCancel($event,$element)">
                <!--<div style="width:20%; overflow:hidden;display: inline-block">
                    <img class="media-object" ng-src="{{meetingThumb}}"
                         style="height:50px;-webkit-background-size: contain;"/>
                </div>-->
                <div class="media-body a4p-dot" style="display: inline-block; vertical-align: middle">
                    <span class="media-heading">{{mObj.pos+1}}.</span>
                    <span class="media-heading">{{mObj.title}}</span><br />
                </div>
            </a>
        </li>
        <li class="col-xxs-12">
            <!-- drop zone
            {{dropOver}} :{{dragIsActive}} : {{dragMeetingElementIdx}}
           {{srvLocale.translations.htmlMeetingMoveItem}}
              dd {{dragIsActive}} : {{dragMeetingElementIdx}}
         -->
            <a class="col-xxs-12 btn"
                 ng-class="{'btn-info active' : dropOver, 'btn-sm btn-disabled' : !dropOver}"
                 ng-show="dragIsActive && (dragMeetingElementIdx < $index)"
                 ng-controller="ctrlMeetingElementDrop"
                 sense-dndstart="dndStart($event)"
                 sense-dropoverenter="dropOverEnter($event,$element)"
                 sense-dropoverleave="dropOverLeave($event,$element)"
                 sense-dropend="dropEnd($event,$element, $index)">
            </a>
        </li>
    </ul>
</div>
