<!doctype html>
<!--
    meeting_draggable_summarized_item.html
    inputs :
      none
    ctrl :
      ctrlMeeting
-->

meeting_draggable_summarized_item.html ???

<div class="col-xxs-12 c4p-link5"
     ng-controller="ctrlDragObject"
     ng-init="init(item)"
     sense-opts="{bubble:true, watchRefresh:['srvNav.item', 'srvNav.holdItem']}"
     sense-shorttap="tapOnLinkedObject(item, firstSingleTap(item.id.dbid));"
     sense-doubletap="firstSingleTap('');tapOnLinkedObject(item)"
     sense-longdragoverenter="dragOverEnter($event)"
     sense-longdragoverleave="dragOverLeave($event)"
     sense-longdragstart="dragStart($event)"
     sense-longdragmove="dragMove($event)"
     sense-longdragend="dragEnd($event)"
     sense-longdragcancel="dragCancel($event)">
    <div ng-include="'partials/navigation/cards/summarized_card.html'"
         ng-class="{'c4p-hover-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableHover, 'c4p-border-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableBorder}"
         style="border-width: 1px;padding:2px;"></div>
</div>
