<!doctype html>
<!--
    meeting_object_viewer.html
    inputs :
      none
    ctrl :
      ctrlViewer > ctrlMeeting
-->

<!-- Meeting Content -->
<div class="c4p-viewer"
     ng-class="{'c4p-viewer-fullscreen':isFullScreen, 'c4p-viewer-windowed':!isFullScreen}">
    <div ng-style="{width:getViewerWidth()+'px', height:getViewerHeight()+px}"
         resize-opts="{name:'meeting_ctrlViewerContent'}"
         sense-opts="{name:'meeting_ctrlViewerContent', axeX:'swipe', axeY:'', init:'setSensePanel($sense);', watchRefresh:'isFullScreen'}"
         sense-scrollopts="{scrollbarClass:'c4p-scrollbar', wheelAction:'zoom', zoom: true, momentum: 0, zoomMin: 1, zoomMax: 10}"
         sense-swipeend="onDocumentSwipe($event)">

        <!--
        <img ng-show="documentObject != null" ng-src="{{documentObject.fileUrl}}" />
        -->

        <div ng-switch on="getDocumentObject()">
            <div ng-switch-when="null">
                <c4p-input
                        ng-model="srvNav.item.description"
                        type="textarea"
                        rows="20">
                </c4p-input>
            </div>

            <div ng-switch-default>
                <c4p-viewer-content obj-var="documentObject"></c4p-viewer-content>
            </div>

        </div>
    </div>
    <div ng-click="toggleFullScreen()" ng-show="documentList.length > 0" class="toggle-mode-button">
        <span class="icon-3x glyphicon c4p-times"
              ng-class="{'glyphicon-resize-full':!isFullScreen, 'glyphicon-resize-small':isFullScreen}"></span>
    </div>
</div>
