<!doctype html>
<!--
    meeting_object_editor.html
    inputs :
      none
    ctrl :
      ctrlViewer > ctrlMeeting
-->

<div ng-switch on="selectedMeetingPlan.editor_type" class="meeting-content">

    <!--
    TODO : There is no type attribute for a Plan object because it can have many Plannee objects linked to him
    For the moment, only Document/Note/Report can be linked to a Plan via a Plannee (see c4p.Model)
    -->
    <!--<div ng-switch-when="Document">
        <span ng-include="'views/meeting/meeting_object_editor_doc.html'"> </span>
    </div>
    <div ng-switch-when="Contact">
        <span ng-include="'views/meeting/meeting_object_editor_contact.html'"> </span>
    </div>
    <div ng-switch-when="Nextmeeting">
        <span ng-include="'views/meeting/meeting_object_editor_nextmeeting.html'"> </span>
    </div>
    <div ng-switch-when="Description">
        <span ng-include="'views/meeting/meeting_object_editor_Description.html'"> </span>
    </div>-->
    <div ng-switch-when="Table">
        <span ng-include="'views/meeting/meeting_object_editor_table.html'"> </span>
    </div>
    <div ng-switch-when="Draw">
        <span ng-include="'views/meeting/meeting_object_editor_draw.html'"> </span>
    </div>
    <div ng-switch-default>
        <span ng-include="'views/meeting/meeting_object_editor_doc.html'"> </span>
    </div>
</div>
