

    <!-- 

        Not used for now ... //soon
        
        inputs : 
            cardItem
    -->


<div class="col-xxs-12 c4p-link5"
     ng-controller="ctrlDragObject"
     ng-init="init(cardItem)">
    <div 
         ng-class="{'c4p-hover-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableHover, 'c4p-border-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableBorder}"
         style="border-width: 1px;padding:2px;"
         ng-include="'partials/navigation/cards/summarized_card.html'"></div>

</div>
