<!--
     summarized_card.html used in detail screens ?
     inputs:
          item
-->
<a ng-controller="ctrlSummarizedObject"
    ng-init="set(item, 'displaySummarizedObjectGroups')"
    ng-click="selectItem(item,true)">

    <div class="btn c4p-click-intercepted" style="position:absolute;top:0;bottom:0;left:0;right:0;"></div>

    <!-- card in read only (click-through) mode -->
    <div class="c4p-card c4p-card-summarized c4p-card-thumb c4p-click-through"
        ng-init="cardItem = item; cardGroups = groups; cardHasThumb = summarizedHasThumb; cardItemName = itemName; cardIsAboutVideo = isVideo; cardIsAboutFile = isFile;"
        ng-include ="'views/navigation/cards/detail_card.html'">
    </div>
</a>
