<!doctype html>
<!--
    main : main.html
    inputs :
      none
    ctrl :
      none
-->

  <div id="a4pBody"
      ng-controller="ctrlResponsive"
      resize-opts="{name:'a4pBody'}"
      resize-beforewindow="responsiveBeforeWindowSizeChanged()">

      <div ng-controller="navigationCtrl"> <!--  ng-init="initNavigationCtrl()" -->

        <div ng-if="!respIsComputing">
          <div class="container" ng-class="{'c4p-backdrop-blur':isBlurOn}" ng-switch="page">

            <div class="row" ng-switch-when="navigation"><div ng-include="'partials/navigation/main.html'"></div></div>
            <div class="row" ng-switch-when="guider"><div ng-include="'partials/guider/main.html'" ></div></div>
            <div class="row" ng-switch-when="meeting"><div ng-include="'partials/meeting/main.html'" ></div></div>
            <div class="row" ng-switch-when="timeline"><div ng-include="'partials/timeline/main.html'" ></div></div>
            <div ng-switch-default>
              <h5 style="color: gray; text-align: center; opacity:0.2;">...</h5>
            </div>

            <!--<div class="row"><div ng-include="'partials/meeting/main.html'" ></div></div>-->

          </div>

          <div class="c4p-container"  style="border:1px white solid" ng-if="isBlurOn" touchstart="a4pBlockMove(event,true)"></div>

          <c4p-spinner id="c4p-waiting-spinner"
              ng-show="isSpinnerActive || !respIsReady"
              class="c4p-waiting c4p-waiting-black c4p-click-intercepted">
            <div ng-include="'partials/spinner.html'"></div>
          </c4p-spinner>

        </div>

      </div>
  </div>
