<!doctype html>
<!--

  Aside Search

  ng-controller="ctrlAside"

-->


<div ng-controller="ctrlAsideSearch" class="c4p-container c4p-color-z-dark-i">



    <div class="c4p-waiting"
        ng-show="asideSearchSpinner"
        c4p-animateshow="asideSearchSpinner"
        after-hide="afterAsideSpinnerHide()"
        after-show="afterAsideSpinnerShow()">
        <div ng-include="'views/spinner.html'"></div>
    </div>

    <div ng-if="!asideSearchSpinner">

        <div resize-opts="{name:'aside_search_header', watchRefresh:['srvFacet.filterFacets.length', 'srvFacet.lastFacetKey', 'srvConfig.c4pConfig.exposeAllFacets']}"
            class="c4p-color-z-dark-i">
            <div class="col-xxs-12 c4p-aside-header c4p-header-std">
                <ul class="nav nav-pills c4p-list-aside"
                    ng-repeat="filterFacet in srvFacet.filterFacets"
                    ng-show="$first || srvConfig.c4pConfig.exposeAllFacets">
                    <!-- Active Facets -->
                    <li class="c4p-list-item-aside c4p-search-header-aside">

                        <div class="btn">
                            <span ng-hide="srvFacet.isFacetAnObjectType(filterFacet.value)">
                                {{srvLocale.translations.htmlFacetName[filterFacet.key]}}
                            </span>
                            <h5 class="c4p-search-header-txt-aside pull-left"> {{filterFacet.title}}</h5>
                            <span class="c4p-aside-count c4p-gray">{{srvData.getObjectCount(filterFacet.value)}}</span> <!-- {{filterFacet.items.length}} -->
                        </div>
                    </li>
                    <li class="pull-right" ng-hide="$first && !srvConfig.c4pConfig.exposeAllFacets">

                        <a class="btn" ng-click="srvFacet.removeFacet($index)">
                            <span class="c4p-color-action-aside-transparent c4p-stroke c4p-padding-w-packed">
                                <span class="c4p-icon-std glyphicon glyphicon-times-circle"></span>
                            </span>
                        </a>
                    </li>
                    <li class="pull-right" ng-switch="filterFacet.value">
                        <!--<a ng-switch-when="Document"
                            class="btn c4p-color-action-aside-transparent"
                            ng-click="addItemDialog(filterFacet.value)"
                            ng-show="objectCreatable(filterFacet.value)">
                            <span class="c4p-icon-std glyphicon glyphicon-camera"></span>
                        </a>-->
                        <a ng-switch-when="Document"
                            class="btn c4p-color-action-aside-transparent"
                            ng-click="addItemDialog(filterFacet.value)">
                            <span class="c4p-icon-std glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-switch-default
                            class="btn c4p-color-action-aside-transparent"
                            ng-show="objectCreatable(filterFacet.value)"
                            ng-click="addItemDialog(filterFacet.value)">
                            <span class="c4p-icon-std glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                    <!-- Possible Facets //sense-longdragoverenter
                    <li class="list-group-item" ng-show="srvConfig.c4pConfig.exposeAllFacets">
                        <ul class="nav nav-pills">
                            <li>
                                <a ng-click="addClear()">
                                    <span class="glyphicon glyphicon-resize-full"></span>
                                    <span> {{srvLocale.translations.htmlFacetName['all']}}</span></a>
                            </li>
                            <li ng-show="srvFacet.isFacetActivable('favorites')">
                                <a ng-click="addFavorites()">
                                    <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['favorites'].icon}}"></span>
                                    <span> {{srvLocale.translations.htmlFacetName['favorites']}}</span></a>
                            </li>
                            <li ng-show="srvFacet.isFacetActivable('top20')">
                                <a ng-click="addTop()">
                                    <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['mine'].icon}}"></span>
                                    <span> {{srvLocale.translations.htmlFacetName['mine']}}</span></a>
                            </li>
                            <li ng-show="srvFacet.isFacetActivable('mine')">
                                <a ng-click="addMine()">
                                    <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['mine'].icon}}"></span>
                                    <span> {{srvLocale.translations.htmlFacetName['mine']}}</span></a>
                            </li>
                            <li ng-repeat="facetKey in srvFacet.definedFacetKeyes"
                                ng-show="(facetKey != 'top20') && (facetKey != 'mine') && (facetKey != 'favorites') && srvFacet.isFacetActivable(facetKey)">
                                <a ng-click="srvFacet.setFacet(facetKey);">
                                    <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers[facetKey].icon}}"></span>
                                    <span>{{srvLocale.translations.htmlFacetName[facetKey]}}</span></a>
                            </li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>
        </div>

        <div resize-opts="{name:'aside_search_search', watchRefresh:['srvFacet.filterFacets.length', 'asideActiveSearch']}">


            <div class="col-xxs-12" ng-show="asideActiveSearch">
                <form class="form-horizontal">
                    <div class="has-feedback">
                        <input  type="text" class="form-control" id="inputSearch"
                                placeholder="{{srvLocale.translations.htmlFormSearchPlaceHolder}}"
                                ng-model="asideInputs.itemSearchQuery"
                                ng-change="srvFacet.setFilterQuery(asideInputs.itemSearchQuery);" />
                        <span class="c4p-icon-std glyphicon glyphicon-search form-control-feedback" ng-click="toggleSearch()"></span>
                    </div>
                </form>
            </div>
        <!--
            <ul class="list-group c4p-list-aside c4p-color-z-dark-ii"
                ng-click="toggleSearch()"
                ng-show="asideActiveSearch">
                //Search input + Shortcut Buttons
                <li  class="list-group-item c4p-list-item-aside c4p-search-header-aside">
                    <div class="row">
                        <div class="col-xxs-10">
                            <input type="text" class="form-control input-sm" autofocus
                                   placeholder="{{srvLocale.translations.htmlFormSearchPlaceHolder}}"
                                   ng-model="asideInputs.itemSearchQuery"
                                   ng-change="srvFacet.setFilterQuery(asideInputs.itemSearchQuery);" />
                        </div>
                        <div class="col-xxs-2">
                            <span class="pull-right" ng-click="$event.stopPropagation(); toggleSearch()"><span class="c4p-color-z-transparent c4p-padding-w-packed"><span class="glyphicon glyphicon-search "></span></span></span>
                        </div>
                    </div>
                </li>
        -->


                <!-- Disable filter for now //TODO MLE
                <li ng-show="asideActiveSearch && !srvConfig.c4pConfig.exposeAllFacets" class="list-group-item  c4p-list-item-aside" ng-class="{'active':(srvFacet.filterFacets.length <= 1) && (srvFacet.getLastFacetKey() != 'favorites') && (srvFacet.getLastFacetKey() != 'top20') && (srvFacet.getLastFacetKey() != 'mine')}">
                    <span ng-click="$event.stopPropagation(); tabClear();" class="c4p-color-z-transparent c4p-null-m-p">
                        <span class="glyphicon glyphicon-resize-full"></span>
                        <span> {{srvLocale.translations.htmlFacetName['all']}}</span>
                    </span>
                </li>
                <li ng-show="asideActiveSearch && !srvConfig.c4pConfig.exposeAllFacets" class="list-group-item  c4p-list-item-aside" ng-class="{'active':(srvFacet.getLastFacetKey() == 'favorites')}">
                    <span ng-click="$event.stopPropagation(); tabFavorites()" class="c4p-color-z-transparent c4p-null-m-p" >
                        <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['favorites'].icon}}"></span>
                        <span> {{srvLocale.translations.htmlFacetName['favorites']}}</span></span>
                </li>
                <li ng-show="asideActiveSearch && !srvConfig.c4pConfig.exposeAllFacets" class="list-group-item  c4p-list-item-aside" ng-class="{'active':(srvFacet.getLastFacetKey() == 'top20')}">
                    <span ng-click="$event.stopPropagation(); tabTop()" class="c4p-color-z-transparent c4p-null-m-p">
                        <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['top20'].icon}}"></span>
                        <span> {{srvLocale.translations.htmlFacetName['top20']}}</span>
                    </span>
                </li>
                <li ng-show="asideActiveSearch && !srvConfig.c4pConfig.exposeAllFacets" class="list-group-item  c4p-list-item-aside" ng-class="{'active':(srvFacet.getLastFacetKey() == 'mine')}">
                    <span ng-click="$event.stopPropagation(); tabMine()" class="c4p-color-z-transparent c4p-null-m-p">
                        <span class="glyphicon glyphicon-{{srvFacet.definedOrganizers['mine'].icon}}"></span>
                        <span> {{srvLocale.translations.htmlFacetName['mine']}}</span>
                    </span>
                </li> -->

            <div class="col-xxs-12" ng-hide="asideActiveSearch" >
                <ul class="nav nav-pills c4p-list-aside c4p-color-z-dark-ii"
                    ng-click="toggleSearch()">
                    <!-- Search result -->
                    <li class="c4p-list-item-aside" ng-show="srvFacet.ascendingOrder">
                        <a class="btn c4p-color-action-aside-transparent"  ng-click="$event.stopPropagation(); srvFacet.toggleOrder()">
                            <span class="glyphicon glyphicon-sort-alpha-asc"></span>
                        </a>
                    </li>
                    <li class="c4p-list-item-aside" ng-hide="srvFacet.ascendingOrder">
                        <a class="btn c4p-color-action-aside-transparent" ng-click="$event.stopPropagation(); srvFacet.toggleOrder()">
                            <span class="glyphicon glyphicon-sort-alpha-desc"></span>
                        </a>
                    </li>

                    <!-- Search query
                    <span ng-show="asideInputs.itemSearchQuery.length > 0">
                        {{asideInputs.itemSearchQuery}}
                    </span>-->
                    <li class="c4p-list-item-aside">
                        <div ng-show="asideInputs.itemSearchQuery.length > 0" class="btn btn-info">
                            <div class="pull-left" style="padding-right: 10px;">{{asideInputs.itemSearchQuery}}</div>
                            <a type="" class="pull-right" ng-click="removeGlobalSearch()">&times;</a>
                        </div>
                    </li>

                    <!-- Search button -->
                    <li class="c4p-list-item-aside pull-right">
                        <div class="btn btn-sm" ng-click="$event.stopPropagation(); toggleSearch()">
                            <span class="c4p-icon-std c4p-color-action-aside-transparent"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>



        <!-- Listed result
resize-opts="{name:'aside_search_result_wrapper', watchRefresh:['srvFacet.filterFacets.length', 'asideActiveSearch', 'srvFacet.lastFacetKey', 'srvConfig.c4pConfig.exposeAllFacets']}"

sense-opts="{name:'aside_search_result_wrapper', axeY:'scroll', watchRefresh:['srvFacet.filterFacets.length', 'asideActiveSearch', 'srvFacet.lastFacetKey', 'srvConfig.c4pConfig.exposeAllFacets'], init: 'setAsideSearchScroller($sense)'}"
             sense-scrollopts="{scrollbarClass:'c4p-scrollbar', momentum: 0}"

        -->
        <div class="col-xxs-12"
            resize-opts="{name:'aside_search_result_wrapper'}"
            resizecss-height="getResizePathValue('navigation_ctrlAside', '', 'offsetHeight') -getResizePathValue('aside_search_header', '', 'offsetHeight') -getResizePathValue('aside_search_search', '', 'offsetHeight') - getResizePathValue('aside_root_footer','','offsetHeight')">
            <div class="c4p-container c4p-menu-bg c4p-color-z">
                <nav class="c4p-container-scroll-y ng-cloak" ng-controller="ctrlSingleTap">
                    <div class="c4p-container">

                        <!-- Facet Keys and Items -->
                        <ul class="list-group c4p-list-aside c4p-search-group-separator c4p-color-z"
                            ng-repeat="groupKey in srvFacet.items.keyes">
                            <!-- Group {{groupKey.title}} - {{srvFacet.items.lists[groupKey.value].length}} -->
                            <li class="list-group-item  c4p-list-item-aside"
                                ng-show="srvConfig.c4pConfig.exposeAllFacets"
                                ng-click="srvFacet.addFacet(srvFacet.lastFacetKey, groupKey.title, groupKey.value)">
                                <a class="btn btn-sm">
                                    <span ng-show="srvFacet.isFacetAnObjectType(groupKey.value)" class="icon-large glyphicon glyphicon-{{getTypeIcon(groupKey.value)}}"></span>
                                    <span> {{groupKey.title}} </span>
                                </a>
                                <a ng-show="srvFacet.isFacetAnObjectType(groupKey.value)" ng-click="addItemDialog(groupKey.value)">
                                    <span class="pull-right icon-large glyphicon glyphicon-plus"></span>
                                </a>
                                <span class="badge">{{srvFacet.items.lists[groupKey.value].length}} </span>
                            </li>

                            <li class="list-group-item  c4p-list-item-aside"
                                ng-repeat="listItem in srvFacet.items.lists[groupKey.value]">
                                <div ng-include="'views/navigation/aside_search_list.html'"></div>
                            </li>
                        </ul>

                        <!-- Others - {{srvFacet.items.others.length}} -->
                        <ul class="list-group c4p-list-aside c4p-color-z"
                            ng-if="srvFacet.items.others.length > 0">

                            <li class="list-group-item  c4p-list-item-aside"
                                ng-repeat="listItem in srvFacet.items.others">
                                <div ng-include="'views/navigation/aside_search_list.html'"></div>
                            </li>
                        </ul>

                        <!--
                        <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>


                        <div class="popover top in" style="display: block; top: 180; left: 278px;">
                            <div class="arrow"></div>
                            <h3 class="popover-title" style="display: none;"></h3>
                            <div class="popover-content">Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</div>
                        </div> -->

                    </div>
                </nav>
            </div>
        </div>

    </div>
</div>
