<!doctype html>
<!--

  Aside Root

-->


<!-- App header -->
<div class="row c4p-aside-header c4p-header-std" resize-opts="{name:'aside_root_header'}">

    <div class="col-xxs-12">
            <ul class="c4p-list-aside nav nav-pills">
                <li class="c4p-list-item-aside">
                    <div class="btn c4p-color-action-aside-transparent"
                        ng-click="setAsideRootMenu()">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-bars"></span>
                        <h5 class="pull-left c4p-item-root-txt">{{translate('htmlGuiderPageTitle')}}</h5>
                    </div>
                </li>
            </ul>
    </div>

</div>
<div resize-opts="{name:'aside_root'}"
     resizecss-height="responsivePageHeight() -getResizePathValue('aside_root_header', '', 'offsetHeight') -getResizePathValue('aside_root_footer', '', 'offsetHeight')"
     sense-opts="{name:'aside_root', axeY:'scroll'}"
     sense-scrollopts="{scrollbarClass:'c4p-scrollbar', momentum: 0}"
     class="c4p-bg-aside row c4p-height-full">
    <div class="col-xxs-12">
        <!-- use <ul class="list-group"><li class="list-group-item"> for border -->
        <!-- use <a> for finger cursor -->
        <!-- use <ul class="nav nav-pills nav-stacked"> for vertical stacking -->
        <!-- use <ul class="nav nav-pills"> for horizontal stacking -->
        <!-- BEWARE : <ul class="list-group"> has a 20px of margin-bottom not visible in Resize height -->


        <!-- Menu always on Top. cf asideRootMenuUp-->
        <div class="col-xxs-12">&nbsp;</div>
        <div class="col-xxs-12">
            <ul class="c4p-list-aside nav nav-pills nav-stacked">
                <li class="c4p-list-item-aside c4p-color-action-aside-transparent"
                    ng-class="{active: activeItem == slideNavigationCalendar}"
                    ng-click="srvFacet.clearOrRemoveFacet($first, $index);setAsideCalendar()">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-calendar"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['calendar']}}</span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Organisation menus -->
        <div class="col-xxs-12" ng-show="navAside_ALWTRUE">&nbsp;</div>
        <div class="col-xxs-12">
            <ul class="c4p-list-aside nav nav-pills nav-stacked">

                <li class="c4p-list-item-aside c4p-color-b"
                    ng-class="{active: activeItem == slideNavigationFavorites}"
                    ng-click="setAsideFavoriteSearchMenu()">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-star"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['favorites']}}</span>
                    </div>
                </li>

                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Event')}} "
                    ng-class="{active: activeItem == slideNavigationEvents}"
                    ng-click="setAsideSearchMenu('Event')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationEvents">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Event')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['events']}}</span>
                    </div>
                </li>


                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Contact')}} "
                    ng-class="{active: activeItem == slideNavigationContacts}"
                    ng-click="setAsideSearchMenu('Contact')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationContacts">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Contact')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['contacts']}}</span>
                    </div>
                </li>

                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Account')}} "
                    ng-class="{active: activeItem == slideNavigationAccounts}"
                    ng-click="setAsideSearchMenu('Account')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationAccounts">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Account')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['accounts']}}</span>
                    </div>
                </li>
                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Opportunity')}} "
                    ng-class="{active: activeItem == slideNavigationOpportunities}"
                    ng-click="setAsideSearchMenu('Opportunity')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationOpportunities">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Opportunity')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['opportunities']}}</span>
                    </div>
                </li>
                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Document')}} "
                    ng-class="{active: activeItem == slideNavigationDocuments}"
                    ng-click="setAsideSearchMenu('Document')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationDocuments">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Document')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['documents']}}</span>
                    </div>
                </li>
                <li class="c4p-list-item-aside c4p-color-{{getTypeColor('Note')}} "
                    ng-class="{active: activeItem == slideNavigationNotes}"
                    ng-click="setAsideSearchMenu('Note')"
                    ng-show="navAside_ALWTRUE || activeItem == slideNavigationNotes">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-{{getTypeIcon('Note')}}"></span>
                        <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['notes']}}</span>
                    </div>
                </li>


                <!--<li class="c4p-list-item-aside"
                    ng-click="openDialogSendFeedbackReport('Your Praise','MoreObjects',srvLocale.translations.htmlMsgFeedbackMoreObjects)"
                    ng-show="navAside && asideRootMenuUp">
                    <div class="btn c4p-color-action-aside-transparent col-xxs-12">
                        <small class="c4p-gray">{{srvLocale.translations.htmlMsgFeedbackMoreObjectsQuestion}}</small>
                    </div>
                </li>-->

                <li class="c4p-list-item-aside"
                    ng-click="setAsideRootMenu()"
                    ><!-- ng-hide="navAside_ALWTRUE" -->
                    <div class="btn c4p-color-action-aside-transparent col-xxs-12" style="padding-bottom:400px">
                        <!--<span class="pull-left c4p-icon-std glyphicon glyphicon-fw glyphicon-angle-down"></span>-->&nbsp;
                    </div>
                </li>
            </ul>
        </div>

        <!-- //TODO progressivement

        Organisation menus
        <ul class="list-group c4p-list-aside">
            <li class="list-group-item  c4p-list-item-aside c4p-list-ftr-aside c4p-color-{{getTypeColor('Event')}}"
                ng-class="{active: activeItem == slideNavigationCalendar}"
                ng-click="srvFacet.clearOrRemoveFacet($first, $index);setAsideCalendar()">
                <span class="c4p-icon-std glyphicon icon-fixed-width glyphicon-calendar"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['calendar']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Event')}}"
                ng-class="{'active':activeItem == slideNavigationEvents}"
                ng-click="setAsideSearchMenu('Event')">
                <span class="c4p-icon-std glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Event')}}"></span>
                <span class="c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['events']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Task')}}"
                ng-class="{'active':activeItem == slideNavigationTasks}"
                ng-click="setAsideSearchMenu('Task')">
                <span class="c4p-icon-std  glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Task')}}"></span>
                <span class="c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['tasks']}}</span>
            </li>
        </ul>

        Informations Commerciales menus
        <ul class="list-group c4p-list-aside">
            <li class="list-group-item  c4p-list-item-aside c4p-list-hdr-aside">
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Account')}}"
                ng-class="{'active':activeItem == slideNavigationLeads}"
                ng-click="setAsideSearchMenu('Lead')">
                <span class="c4p-icon-std glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Lead')}}"></span>
                <span class="c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['leads']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Contact')}}"
                ng-class="{'active':activeItem == slideNavigationContacts}"
                ng-click="setAsideSearchMenu('Contact')">
                <span class="c4p-icon-std glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Contact')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['contacts']}}</span>

            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Account')}}"
                ng-class="{'active':activeItem == slideNavigationAccounts}"
                ng-click="setAsideSearchMenu('Account')">
                <span class="c4p-icon-std   glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Account')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['accounts']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-list-ftr-aside c4p-color-{{getTypeColor('Opportunity')}}"
                ng-class="{'active':activeItem == slideNavigationOpportunities}"
                ng-click="setAsideSearchMenu('Opportunity')">
                <span class="c4p-icon-std  glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Opportunity')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['opportunities']}}</span>
            </li>
        </ul>
        Bibliotheque menus
        <ul class="list-group c4p-list-aside">
            <li class="list-group-item  c4p-list-item-aside c4p-list-hdr-aside">
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Facet')}}"
                ng-class="{'active':activeItem == slideNavigationFavorites}"
                ng-click="setAsideFavoriteSearchMenu()">
                <span class="c4p-icon-std glyphicon icon-fixed-width glyphicon-star"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlFacetName['favorites']}}</span>

            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Document')}}"
                ng-class="{'active':activeItem == slideNavigationDocuments}"
                ng-click="setAsideSearchMenu('Document')">
                <span class="c4p-icon-std   glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Document')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['documents']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-color-{{getTypeColor('Note')}}"
                ng-class="{'active':activeItem == slideNavigationNotes}"
                ng-click="setAsideSearchMenu('Note')">
                <span class="c4p-icon-std   glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Note')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['notes']}}</span>
            </li>
            <li class="list-group-item  c4p-list-item-aside c4p-list-ftr-aside c4p-color-{{getTypeColor('Report')}}"
                ng-class="{'active':activeItem == slideNavigationReports}"
                ng-click="setAsideSearchMenu('Report')">
                <span class="c4p-icon-std  glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Report')}}"></span>
                <span class="c4p-item-root-txt"> {{srvLocale.translations.htmlSlideName['reports']}}</span>
            </li>
        </ul>

        <div class="col-xxs-12">
            <ul class="nav nav-pills nav-stacked">
                <li class="c4p-color-{{getTypeColor('Document')}}"
                    ng-click="setAsideSearchMenu('Document')">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Document')}}"></span>
                         <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['documents']}}</span>
                    </div>
                </li>
                <li class="c4p-color-{{getTypeColor('Document')}}"
                    ng-click="setAsideSearchMenu('Document')">
                    <div class="btn col-xxs-12">
                        <span class="pull-left c4p-icon-std glyphicon icon-fixed-width glyphicon-{{getTypeIcon('Document')}}"></span>
                         <span class="pull-left c4p-item-root-txt">{{srvLocale.translations.htmlSlideName['documents']}}</span>
                    </div>
                </li>
            </ul>
        </div>
        -->

    </div>
</div>
<div class="c4p-aside-footer"
     resize-opts="{name:'aside_root_footer'}">

    <div class="row" ng-controller="ctrlTrashObject">
        <div class="col-xxs-12" ng-show="dndActive">
            <div class="c4p-aside-trash" >
                <div class="btn btn-danger col-xxs-12"
                    ng-class="{'active' : dropOver}"
                    sense-opts="{name:'dropObjectTrash'}"
                    sense-dndstart="dndStart($event)"
                    sense-dndend="dndEnd($event)"
                    sense-dndcancel="dndCancel($event)"
                    sense-dropoverenter="dropOverEnter($event)"
                    sense-dropoverleave="dropOverLeave($event)"
                    sense-dropend="dropEnd($event)">
                    <span class="c4p-icon-std glyphicon glyphicon-trash-o"></span>
                </div>
            </div>
        </div>
        <div class="col-xxs-12" ng-hide="dndActive">
                <ul class="c4p-list-aside nav nav-pills">
                    <li class="c4p-list-item-aside">

                        <!-- question -->
                        <div class="btn c4p-gray c4p-color-action-aside-transparent"
                            ng-click="openDialogSendFeedbackReport('Menu Feedback')">
                            <div class="c4p-icon-std glyphicon glyphicon-fw glyphicon-question"></div>
                        </div>
                    </li>
                    <li class="c4p-list-item-aside">
                        <!-- Config -->
                        <div class="btn c4p-gray c4p-color-action-aside-transparent"
                            ng-click="gotoSlideWithSearchReset(pageNavigation, slideNavigationConfig);">
                            <span  class="c4p-icon-std glyphicon glyphicon-fw glyphicon-cog"></span>
                        </div>
                    </li>
                    <li class="c4p-list-item-aside pull-right">
                        <!-- Refresh - Downloads / Uploads -->
                        <a class="btn c4p-gray c4p-color-action-aside-transparent" style="font-size: .6em;"
                            ng-click="refreshClient();">
                            <span  class="glyphicon-stack glyphicon-lg" ng-switch="navigationA4pSpinnerState" >
                                <i class="glyphicon glyphicon-stack-2x glyphicon-refresh glyphicon-spin" ng-switch-when="run"></i>
                                <i class="glyphicon glyphicon-stack-2x glyphicon-refresh" style="color:red" ng-switch-when="doneWithPb"></i>
                                <i class="glyphicon glyphicon-stack-2x glyphicon-refresh close" ng-switch-when="offline"></i>
                                <i class="glyphicon glyphicon-stack-2x glyphicon-refresh" ng-switch-default></i>
                                <i class="glyphicon glyphicon-stack-1x" ng-show="srvQueue.pendingQueueRequests.length">
                                    <!--<span>s:{{srvSynchro.synchroState}}.{{srvSynchro.pendingRequests.length}}</span>
                                    <span>q:{{srvQueue.state}}.{{srvQueue.pendingQueueRequests.length}}</span>-->
                                    <span>{{srvQueue.pendingQueueRequests.length}}</span>
                                </i>
                            </span>
                        </a>
                    </li>
                </ul>
        </div>


        <!-- lock
        <div class="col-xxs-4" style="text-align: left;">
            <div class="btn c4p-padding-w-packed"  ng-click="setModeLock(true)" ng-show="!modeLock">
                <span  class="c4p-icon-std glyphicon glyphicon-unlock"></span>
            </div>
            <div class="btn c4p-padding-w-packed" ng-click="setModeLock(false)" ng-show="modeLock">
                <span  class="c4p-icon-std glyphicon glyphicon-lock"></span>
            </div>
        </div>-->

    </div>
</div>
