<div class="c4p-header-std"
     resize-opts="{name:'calendar_header', watchRefresh:'navAside'}">
     <!-- ng-style="{width:getCalendarHeaderWidth()+'px'}"
     -->
    <div class="row">
        <div class="col-xxs-12">
            <ul class="nav nav-pills">
                <li class="">
                <!-- ng-click="gotoMeeting(srvNav.item)" -->
                    <a class="btn disabled">
                        <img class="c4p-img-icon" src="l4p/img/logo_meeting_.png" />
                    </a>
                </li>
                <li ng-include="'views/navigation/header_back.html'"></li>
                <li class="pull-right" ng-show="configStateAdd">
                    <a class="btn"
                         ng-click="addItemDialog()">
                        <span class="c4p-icon-std glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>

<!--
            <div class="btn dropdown c4p-padding-w-packed c4p-color-action-transparent"
                 ng-controller="ctrlNavObject"
                 ng-show="srvNav.history.length > 0">
                <span role="button"
                      class="dropdown-toggle glyphicon glyphicon-reply-all c4p-color-action-transparent c4p-color-lnk" style="font-size:0.8em"></span>

                <ul style="overflow-x:hidden;" class="dropdown-menu c4p-dropdown-menu c4p-details-menu-align"
                    role="menu">
                    <li ng-repeat="back in srvNav.history | limitTo:5"
                        ng-click="gotoIndex($index)">
                        <div class="btn btn-sm c4p-padding-w-packed glyphicon glyphicon-{{back.itemIcon}}"></div>
                            <span ng-switch="!back.itemName">
                                <span class="btn btn-sm c4p-padding-w-packed" ng-switch-when="true"> {{srvLocale.translations.htmlSlideName[back.slide]}} </span>
                                <span class="btn btn-sm c4p-padding-w-packed" ng-switch-default> {{back.itemName}} </span>
                            </span>
                    </li>
                </ul>
            </div>

            <div class="btn c4p-padding-w-packed dropdown" ng-show="calendarViews.length">
                <a role="button" class="dropdown-toggle c4p-color-action-transparent" data-toggle="dropdown">
                    <span>{{navTitle}}&nbsp;</span>
                    <span class="glyphicon glyphicon-caret-down"></span>
                </a>
                <ul class="dropdown-menu c4p-details-menu-align" role="menu">
                    <li role="presentation"
                        ng-repeat="view in calendarViews"
                        ng-show="checkViewNp1Active(view.id)">
                        <a role="menuitem" tabindex="-1" class="" ng-click="setCalendarView(view.id)">
                            <span class="glyphicon glyphicon-{{view.icon}}" ng-show="view.icon"></span>
                            <span> {{srvLocale.translations.htmlActionName[view.id]}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xxs-1" style="text-align: right;">
            <div class="btn c4p-padding-w-packed"
                 ng-show="configStateAdd"
                 ng-click="addItemDialog()">
                <span class="c4p-icon-std glyphicon glyphicon-plus c4p-color-action-transparent"></span>
            </div>
        </div>
-->
        </div>
    </div>
</div>
