<div class="row col-xxs-12">
    <div ng-style="{width:(getMainWidth() + getAsideWidth())+'px'}"
         resize-opts="{name:'calendar_events', watchRefresh:'navAside'}"
         resizecss-height="getResizeHeight() -getResizePathValue('calendar_header', '', 'offsetHeight')"
         sense-opts="{name:'calendar_events', axeY:'scroll', watchRefresh:'calendarEventsGroupsByDaySinceToday'}"
         sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}">
        <div id="calendar-cards">
            <!-- Title -->
            <div class="row c4p-color-a-gradient1">
                <div class="col-xxs-12 c4p-details hidden-xs hidden-sm">
                    <h2>{{translate('htmlCalendarListPageTitle')}}</h2>
                </div>
                <div class="col-xxs-12 c4p-details hidden-md hidden-lg">
                    <h4>{{translate('htmlCalendarListPageTitle')}}</h4>
                </div>
            </div>


            <!-- Events list -->
            <ul class="nav nav-pills nav-stacked c4p-details-title"
                ng-repeat="group in calendarEventsGroupsByDaySinceToday"
                ng-show="group.events.length || group.eventsAllDay.length">

                <li class="c4p-details c4p-color-a-gradient2">
                    <span class="">{{translateDateDayToFullString(group.date)}}</span>
                </li>
                <li ng-repeat="item in group.eventsAllDay"
                    class="c4p-details c4p-color-a-gradient3">
                    <span ng-include="'views/navigation/cards/draggable_summarized_item.html'"> </span>
                </li>
                <li ng-repeat="item in group.events"
                    class="c4p-details c4p-color-a-gradient4">
                    <span ng-include="'views/navigation/cards/draggable_summarized_item.html'"> </span>
                </li>
            </ul>
        </div>
    </div>
</div>

