<div style="float: left"
     ng-style="{width:(getMainWidth())+'px'}">
    <div ng-style="{width:(getMainWidth())+'px'}"
         sense-opts="{name:'calendar_day_events_wrapper', axeY:'scroll'}"
         sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
         resize-opts="{name:'calendar_day_events_wrapper', watchRefresh:'navAside'}"
         resizecss-height="getResizeHeight() -getResizePathValue('calendar_header', '', 'offsetHeight')">
        <div resize-opts="{name:'calendar_day_event_scroller', watchRefresh:'navAside'}">
            <div ng-include="'partials/navigation/calendar_day_events.html'"></div>
        </div>
    </div>
</div>
<div style="float: left"
        ng-style="{width:(getAsideWidth())+'px'}">
    <div ng-style="{width:(getAsideWidth())+'px'}"
         sense-opts="{name:'calendar_day_hours_wrapper', axeY:'scroll'}"
         sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
         resize-opts="{name:'calendar_day_hours_wrapper', watchRefresh:'navAside'}"
         resizecss-height="getResizeHeight() -getResizePathValue('calendar_header', '', 'offsetHeight')">
        <div resize-opts="{name:'calendar_day_hours_scroller', watchRefresh:'navAside'}">
            <div ng-include="'partials/navigation/calendar_day_hours.html'"
                 class="c4p-cal-day-hour"></div>
        </div>
    </div>
</div>
