<div class="c4p-container c4p-color-gradient0">

	<header class="row c4p-color-gradient0" ng-include="'partials/navigation/calendar_header.html'"></header>


    <div class="c4p-waiting"
        ng-show="calendarLoadingSpinner" 
        c4p-animateshow="calendarLoadingSpinner" 
        after-hide="afterCalendarSpinnerHide()" 
        after-show="afterCalendarSpinnerShow()">
        <div ng-include="'partials/spinner.html'"></div>
    </div>

    <div ng-show="!calendarLoadingSpinner" class="row c4p-color-a-gradient4">
	    <!-- row class required to put footer in another line below or else sizes are not good for Resize calculations -->
	    <article class="col-xxs-12" ng-switch on="calendarView" >
	        <!-- Day View -->
	        <div ng-switch-when="dayView"><div ng-include="'partials/navigation/calendar_day.html'"></div></div>

	        <!-- List View -->
	        <div ng-switch-when="listView"><div ng-include="'partials/navigation/calendar_events.html'"></div></div>

	        <!-- Month View -->
	        <div ng-switch-default><div ng-include="'partials/navigation/calendar_month.html'"></div></div>

	    </article>	
	</div>

</div>
