<!doctype html>
<!--
    navigation/calendar_month.html
    inputs :
      none
    ctrl :
      ctrlCalendar
-->

<div class="ng-cloak">
    <table class="table c4p-table-calendar-month" style="width:100%;table-layout: fixed;">
        <thead resize-opts="{name:'calendar_month_header'}">
        <tr style="color:whitesmoke">
            <th class="empty" style="width:20px;"></th>
            <th class="c4p-link5" ng-click="gotoPreviousYear()" >
                    <span class="glyphicon glyphicon-angle-double-left"></span><br>
                    <h5 class="a4p-dot" ng-hide="getResizeOneColumn()">{{calendarPreviousYear}}</h5>
            </th>
            <th class="c4p-link5" ng-click="gotoPreviousMonth()" >
                    <span class="glyphicon glyphicon-angle-left"></span><br>
                    <h5 class="a4p-dot" ng-hide="getResizeOneColumn()">{{calendarPreviousMonthName}}</h5>
            </th>
            <th class="disabled" colspan="3" style="text-align:center;vertical-align:middle;">
                <h4 ng-hide="getResizeOneColumn()" class="a4p-dot">{{calendarMonthFullName}}</h4>
                <span ng-show="getResizeOneColumn()" class="a4p-dot">{{calendarMonthFullName}}</span>
            </th>
            <th class="c4p-link5" ng-click="gotoNextMonth()" >
                    <span class="glyphicon glyphicon-angle-right"></span><br>
                    <h5 class="a4p-dot" ng-hide="getResizeOneColumn()">{{calendarNextMonthName}}</h5>
            </th>
            <th class="c4p-link5" ng-click="gotoNextYear()" >
                    <span class="glyphicon glyphicon-angle-double-right"></span><br>
                    <h5 class="a4p-dot" ng-hide="getResizeOneColumn()">{{calendarNextYear}}</h5>
            </th>
        </tr>

        <tr style="height:20px;line-height:20px;"
            resize-opts="{name:'calendar_month_week_header'}">
            <th style="height:20px;line-height:20px;" class="disabled">
                <small>{{translate('htmlCalendarMonthTextWeekAbrev')}}</small>
            </th>
            <th ng-repeat="day in calendarMonthWeeks[0].days"
                class="disabled"
                style="height:20px;line-height:20px; width:{{(width - 20) / calendarMonthWeeks[0].days.length}}px;">
                <small>{{day.shortName}}</small>
            </th>
        </tr>
        </thead>

        <!--
        resize-opts="{name:'calendar_month_body', watchRefresh:'navAside'}"
               resize-vars="{bodyHeight:&quot;responsivePageHeight() -getResizePathValue('calendar_header', '', 'offsetHeight') -getResizePathValue('calendar_month_header', '', 'offsetHeight')&quot;}"
        -->
        <tbody >
        <tr ng-repeat="week in calendarMonthWeeks">
            <td class="disabled" style="text-align: center;vertical-align: middle;">
                <small>{{week.id}}</small>
            </td>

            <td ng-repeat="day in week.days"
                class="c4p-link5 c4p-table-cell"
                ng-click="onDayClick(day.date)"
                style="height:{{calendarMonthCellHeight}}px"
                ng-class="{ 'c4p-cell-initial': translateDateDayToString(day.date) == translateDateDayToString(calendarNow),
                            'c4p-cell-selected': translateDateDayToString(day.date) == translateDateDayToString(calendarSelected),
                            'c4p-cell-weekend': day.isWeekend,
                            'c4p-cell-disabled': day.date.getMonth() != calendarMonth}">

                <!-- each days -->
                <div style="width:100%;height:100%">

                        <!-- event colors -->
                        <div class="pull-left" style="position:relative; height:100%;width:8%;">
                            <div ng-repeat="position in day.group.eventsPosition"
                                 class="label c4p-label-calendar-notallday-inverse"
                                 style="position:absolute; width:90%; padding:2px 0; border:1px solid gray; top:{{position.posPercent}}%; height:{{position.lengthPercent}}%;"
                                 ng-class="position.event.id">
                                &nbsp;
                            </div>
                        </div>
                        <!-- events names list -->
                        <div class="pull-right" style="position:relative; height:100%;width:90%;">
                            <div style="height:{{(calendarMonthHeight / calendarMonthWeeks.length) - 20}}px;overflow:hidden;text-overflow:ellipsis;display:block;">
                                <!-- allDay events -->
                                <span ng-repeat="position in day.group.eventsAllDayPosition"
                                      style="width:{{position.lengthPercent}}%; margin-left:{{position.posPercent}}%; margin-top:1px; min-height:2px;"
                                      class="label c4p-label-calendar-all-day a4p-dot">
                                      <!--
                                      <span class="hidden-xs hidden-sm"
                                            ng-show="isMultiDayEventWithTimeToShow(event,day.date,true)">({{getEventTime(position.event.date_start)}})</span>
                                      -->
                                      <span class="hidden-xs">{{position.event.name}}</span>
                                </span>
                                <!-- Standart events -->
                                <span ng-repeat="event in day.group.events"
                                      style="width:100%; margin-top: 1px;"
                                      class="label c4p-label-calendar-day a4p-dot hidden-xs">{{getEventTime(event.date_start)}} {{event.name}}</span>
                            </div>
                            <!-- More ...
                            <small 	class="pull-right label c4p-label-calendar-dark">
                                L:{{(day.group.eventsAllDay.length + day.group.events.length)}}
                            - 	{{((((responsivePageHeight() - 200)/ calendarMonthWeeks.length) - 20) / 20)}}
                            </small>-->
                            <small class="pull-left label c4p-label-calendar-light hidden-xs" style="padding:0"
                                   ng-show="(20*(day.group.eventsAllDay.length + day.group.events.length)) > (((calendarMonthHeight -24)/ calendarMonthWeeks.length) - 20)">{{translate('htmlCalendarMonthTextMore')}}</small>

                            <!-- Day number -->
                            <small class="pull-right label c4p-label-calendar" style="padding:0 3px;">{{day.date.getDate()}}</small>

                        </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table c4p-table-calendar-next">
      <thead resize-opts="{name:'calendar_month_header'}">
        <tr ng-show="calendarNextEvent">
            <th class="" style="width:20px;"></th>
            <th colspan="7" style="position:relative;">
                <div class="col-xxs-12">
                  <ul class="nav nav-pills">
                    <!--<li class="hidden-xs"><a class="btn disabled"><i class="glyphicon glyphicon-fw">&nbsp;</i></a></li>-->
                    <li class="col-xxs-12">
                      <a class="disabled c4p-gray"><h5>{{srvLocale.translations.htmlCalendarNextMeeting}}</h5></a>

                    </li>
                    <!--<li class="hidden-xs col-sm-4 pull-right">
                      <a class="btn btn-primary" ng-click="gotoNextMeeting()">
                        TODO Go into meeting <i class="glyphicon glyphicon-fw glyphicon-sign-in"></i>
                      </a>
                    </li>-->
                  </ul>
                </div>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="calendarNextEvent">
            <td class="disabled" style="width:20px;">&nbsp;</td>

            <td colspan="6"
                ng-init="item = calendarNextEvent" ng-if="calendarNextEvent">

                <div  style="position: relative;  width: 100%;height: 100%;"
                      ng-include="'views/navigation/cards/summarized_card.html'"></div>
            </td>

            <td style="position:relative;">
              <a class="btn btn-primary" ng-click="gotoNextMeeting()">
                  <img class="c4p-img-icon" src="l4p/img/logo_meeting_white.png" style="margin-top:20px;">
              </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<!--
<div class="row" style="margin:0;"
     ng-style="{width:(getMainWidth() + getAsideWidth())+'px'}"
     resize-opts="{watchRefresh:['srvNav.item', 'srvNav.history']}">
    <footer ng-include="'views/navigation/footer_detail.html'"></footer>
</div>
-->
