<!doctype html>
<!--
    navigation/calendar_day_events.html
    inputs :
      none
    ctrl :
      ctrlCalendar
-->

<!-- Day title -->

<div class="row c4p-details c4p-color-a-gradient1">
    <div class="col-xxs-12">
        <span class="glyphicon glyphicon-angle-left c4p-icon-std"  ng-click="gotoPreviousDay()"
              style="padding-right: 2em"></span>
        <span class="c4p-cal-big c4p-gray">{{calendarDayCasualName}}</span>
        <span class="c4p-cal-big">{{calendarDayFullName}}</span>
        <span class="glyphicon glyphicon-angle-right c4p-icon-std" ng-click="gotoNextDay()"
              style="padding-left: 2em"></span>
    </div>
</div>

<!-- All day Event list -->
<div class="row c4p-details" ng-show="(calendarSelectedDay.eventsAllDay.length == 0) && (calendarSelectedDay.events.length == 0) ">
    <div class="c4p-infos-txt">{{translate('htmlCalendarDayTextNoEvent')}}</div>
</div>
<ul class="nav nav-pills nav-stacked"
    ng-show="calendarSelectedDay.eventsAllDay.length">
    <li class="c4p-details  c4p-color-a-gradient2">
        <span class="">{{translate('htmlCalendarDayTextAllDayEvent')}}</span>
    </li>
    <li ng-repeat="item in calendarSelectedDay.eventsAllDay"
        class="c4p-details  c4p-color-a-gradient3">
        <span ng-include="'views/navigation/cards/draggable_summarized_item.html'"></span>
    </li>
</ul>


<!-- Event list -->
<ul class="nav nav-pills nav-stacked" ng-show="calendarSelectedDay.events.length">
    <li class="c4p-details  c4p-color-a-gradient2">
        <span class="">{{translate('htmlCalendarDayTextEvents')}}</span>
    </li>
    <li ng-repeat="item in calendarSelectedDay.events"
        class="c4p-details  c4p-color-a-gradient3">
        <span ng-include="'views/navigation/cards/draggable_summarized_item.html'"></span>
    </li>
</ul>
