<!doctype html>
<header class="row c4p-color-gradient0" ng-include="'views/navigation/config_header.html'"></header>
<div class="row c4p-config-panel">
    <!-- row class required to put footer in another line below or else sizes are not good for Resize calculations -->
    <div sense-opts="{name:'config_main', axeY:'scroll'}"
         sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
         class="col-xxs-12 col-sm-11 col-sm-offset-1"
         resize-opts="{name:'config_main'}"
         resizecss-height="responsivePageHeight() -getResizePathValue('config_header', '', 'offsetHeight') -getResizePathValue('navigation_footer_detail', '', 'offsetHeight')">
        <div class="col-xxs-12">

            <!-- Title -->
            <div class="row hidden-xs hidden-sm">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2 navbar">
                        <h2 class="c4p-n-title" ng-show="!isDemo">{{translate('htmlConfigPageTitle')}}
                            {{configEmail}}</h2>

                        <h2 class="c4p-n-title" ng-show="isDemo">{{translate('htmlConfigPageTitle')}}
                            {{translate('htmlConfigTextDemo')}}</h2>
                    </div>
            </div>
            <div class="row hidden-md hidden-lg">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2 navbar">
                        <h5 class="c4p-n-title" ng-show="!isDemo">{{translate('htmlConfigPageTitle')}}
                            {{configEmail}}</h5>
                        <h5 class="c4p-n-title" ng-show="isDemo">{{translate('htmlConfigPageTitle')}}
                            {{translate('htmlConfigTextDemo')}}</h5>
                    </div>
            </div>

                <!-- Login -->
                <div class="row" style="margin-bottom:40px;">
                    <button class="col-xxs-12 col-xs-8 col-xs-offset-2  btn btn-primary "
                            ng-click="switchUser()">
                        {{translate('htmlButtonChangeUser')}}
                    </button>

                    <!--
                            ng-show="!isDemo"
                    <button class="col-xxs-12 col-xs-4   btn btn-primary"
                            ng-click="gotoLogin()"
                            ng-show="isDemo"
                            style="margin-bottom:20px;">
                        {{translate('htmlButtonLogin')}}
                    </button>
                    <button class="col-xxs-12 col-xs-4 col-xs-offset-2  btn btn-default"
                            style="margin-bottom:20px;"
                            ng-click="gotoRegister()">{{translate('htmlButtonRegister')}}
                    </button> -->
                </div>




                <div class="row" style="margin-bottom:40px;">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2">
                            <button type="button" class="btn btn-info col-xxs-12 dropdown-toggle" data-toggle="dropdown">
                                <span>{{srvLocale.lang.title}}</span>
                            </button>
                            <ul class="dropdown-menu  col-xxs-12 " role="menu">
                                <li ng-repeat="lang in srvLocale.langs">
                                    <a class="" ng-click="srvLocale.setLang(lang)">{{lang.title}}</a>
                                </li>
                            </ul>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2">
                      <h5 ng-click="openDialogSendFeedbackReport('Your Praise','OtherConnector',srvLocale.translations.htmlMsgFeedbackOtherConnector)">
                        <i class="glyphicon glyphicon-coffee" style="padding-right: 30px;"></i>
                        {{srvLocale.translations.htmlConnectorUnderConstruction}}
                      </h5>
                    </div>
                </div>

                <div class="row" ng-class="{'c4p-disabled':true}">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2">
                        <ul class="nav nav-pills">
                            <li><a class="btn btn-disabled" style="text-align:left">Salesforce.com</a></li>
                            <li class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-disabled">&gt;</button>
                              </div>
                            </li>
                        </ul>

                        <ul class="nav nav-pills">
                            <li><a class="btn btn-disabled" style="text-align:left">Google Drive</a></li>
                            <li class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-disabled">&gt;</button>
                              </div>
                            </li>
                        </ul>

                        <ul class="nav nav-pills">
                            <li><a class="btn btn-disabled" style="text-align:left">Dropbox</a></li>
                            <li class="pull-right">
                              <div class="btn-group">
                                <button type="button" class="btn btn-disabled">&gt;</button>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2">
                        <button type="button" class="btn btn-link col-xxs-12"
                        style="padding-top: 20px;padding-bottom: 40px;"
                                ng-click="openDialogSendFeedbackReport('Your Praise','OtherConnector',srvLocale.translations.htmlMsgFeedbackOtherConnector)">
                            <span style="white-space:normal">{{srvLocale.translations.htmlMsgFeedbackOtherConnectorQuestion}}</span>
                        </button>
                    </div>
                </div>



                <div class="row" ng-show="isDemo">
                    <div class="col-xxs-12 col-xs-8 col-xs-offset-2 well">
                        <a class="btn btn-warning col-xxs-12" ng-click="addMoreDataInDemoMode()">
                            Warning - Only available in Demo ! {{srvLocale.translations.htmlTextDemoModeMoreData}}
                        </a>
                    </div>
                </div>



                <!-- Other params form? //soon... -->
                <div class="row">
                    <div class="col-xxs-12">

                            <!--  Lang
                            <div class="row">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4 control-label"
                                       lang='en' name="Language">
                                    {{translate('htmlConfigTextLang')}}
                                </h5>

                                <select ng-model="lang"
                                        ng-change="setLang(lang)"
                                        ng-options="lang as lang.title for lang in srvLocale.langs">
                                </select>

                                <div class="col-xxs-12 col-xs-8   controls dropdown pull-left">
                                    <a class="dropdown-toggle btn btn-link c4p-link5" data-toggle="dropdown"><span>{{srvLocale.lang.title}} </span><span class="glyphicon glyphicon-caret-down"></span></a>
                                    <ul class="col-xxs-12 dropdown-menu" role="menu">
                                        <li ng-repeat="link in srvLocale.langs">
                                            <a class="" ng-click="srvLocale.setLang(link)"><span>{{link.title}}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->


                            <!--  Name composition
                            <div class="row"
                                 ng-repeat="objectType in getObjectTypes()"
                                 c4p-show="getDisplayNameList(objectType).length > 1">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4   control-label">
                                    {{translate('htmlConfigTextNameComposition')}} {{srvLocale.translations.htmlTitle[objectType]}}
                                </h5>

                                <div class="col-xxs-12 col-xs-8    controls dropdown pull-left">
                                    <a class="dropdown-toggle btn btn-link c4p-link5" data-toggle="dropdown">
                                        <span ng-repeat="key in getCurrentNameComposition(objectType)">{{translate(getHtmlFieldTitle(objectType, key))}} </span>
                                        <span class="glyphicon glyphicon-caret-down"></span>
                                    </a>
                                    <ul class="col-xxs-12  dropdown-menu" role="menu">
                                        <li ng-repeat="names in getDisplayNameList(objectType)"
                                                ng-click="setNameComposition(objectType, $index)">
                                            <a><span ng-repeat="key in names">{{translate(getHtmlFieldTitle(objectType, key))}} </span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->


                            <!-- PIN Code
                            <div class="row">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4    control-label">{{translate('htmlConfigTextAuth')}}</h5>

                                <div class="col-xxs-12 col-xs-8    controls dropdown pull-left">
                                    <a class="dropdown-toggle btn btn-link c4p-link5" data-toggle="dropdown">
                                        <span class="pull-left">
                                            <span ng-show="secureMode">{{translate('htmlConfigTextYes')}} </span>
                                            <span ng-hide="secureMode">{{translate('htmlConfigTextNo')}} </span>
                                        </span>
                                        <span class="glyphicon glyphicon-caret-down"></span>
                                    </a>

                                    <ul class="col-xxs-12 dropdown-menu" role="menu">
                                        <li>
                                            <a class="" ng-click="setSecureMode(false)">
                                                <span>{{translate('htmlConfigTextNo')}}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="" ng-click="setSecureMode(true)">
                                                <span>{{translate('htmlConfigTextYes')}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <a ng-click="modifyPinCode()" ng-show="srvSecurity.isSecured() && srvSecurity.isVerified()">{{translate('htmlConfigTextModifyPINCode')}}</a>
                                </div>
                            </div> -->

                            <!-- CRM used
                            <div class="row" ng-click="dialogActiveCrm()">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4    control-label">{{translate('htmlConfigTextCrmUse')}}</h5>
                                <div class="col-xxs-12 col-xs-8    controls">
                                    // TODO: clear() srvData and reload fullMap upon each change of activeCrm
                                    <a class="btn btn-link c4p-link5">
                                        <span ng-repeat="crm in srvConfig.activeCrms"> {{srvLocale.translations.htmlConfigCrmList[crm]}}</span>
                                    </a>
                                </div>
                            </div> -->

                            <!-- Bug report
                            <div class="row">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4    control-label">{{translate('htmlConfigTextErrorReport')}}</h5>

                                <div class="col-xxs-12 col-xs-8    controls">
                                    <a class="btn btn-link c4p-link5" ng-click="sendErrorReport()">Send</a>
                                </div>
                            </div> -->

                            <!-- User Feedback / Bug report
                            <div class="row">
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4     control-label">{{translate('htmlConfigTextFeedback')}}</h5>

                                <div class="col-xxs-12 col-xs-8    controls">
                                    <a class="btn btn-link c4p-link5" ng-click="sendFeedback()">Send</a>
                                </div>
                            </div> -->

                            <!-- Beta Mode : not editable in PROD but can be activated in c4p_conf file

                            <div class="row" > // ng-hide="srvConfig.env == 'P'"
                                <h5 class="c4p-form-label col-xxs-12 col-xs-4   control-label">{{translate('htmlConfigTextBeta')}}</h5>
                                <div class="col-xxs-12 col-xs-8   controls pull-left">
                                    <a class="btn btn-link c4p-link5">
                                        <span class='glyphicon glyphicon-check icon-large' ng-show='srvConfig.c4pConfig.exposeBetaFunctionalities' ng-click='setBetaMode(false)'></span>
                                        <span class='glyphicon glyphicon-unchecked icon-large' ng-hide='srvConfig.c4pConfig.exposeBetaFunctionalities' ng-click='setBetaMode(true)'></span>
                                    </a>
                                </div>
                            </div>-->


                            <!-- Theme
                            <div class="row" ng-show="srvConfig.c4pConfig.exposeBetaFunctionalities">

                                <h5 class="c4p-form-label col-xxs-12 col-xs-4   control-label">{{translate('htmlConfigTextTheme')}}</h5>

                                <div class="col-xxs-12 col-xs-8   controls">
                                    <div class="btn">
                                        <select ng-model="themeCss"
                                                ng-change="setThemeCss(themeCss)"
                                                ng-options="theme.key as srvLocale.translations.htmlTextTheme[theme.key] for theme in themes">
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Html Font Size
                            <div class="row">

                                <h5 class="c4p-form-label col-xxs-12 col-xs-4  control-label">{{translate('htmlConfigTextSize')}}</h5>

                                <div class="col-xxs-12 col-xs-8   controls">
                                    <div class="btn">
                                        <select ng-model="sizeCss"
                                                ng-change="setSizeCss(sizeCss)"
                                                ng-options="sizeValue for sizeValue in getPossibleSizeCss()">
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Beta IHM flags
                            <div ng-show="srvConfig.c4pConfig.exposeBetaFunctionalities"
                                 ng-repeat="(prmKey,prmValue) in srvConfig.c4pConfig track by prmKey">
                                <div class="row form-group" ng-hide="prmKey == 'exposeBetaFunctionalities'">
                                    <h5 class="c4p-form-label col-xxs-12 col-xs-4   control-label">{{srvLocale.translations.htmlConfigCheckList[prmKey]}}</h5>
                                    <div class="col-xxs-12 col-xs-8   controls pull-left">
                                        <a class="btn btn-link c4p-link5"><c4p-check ng-model="srvConfig.c4pConfig[prmKey]" on-change="checkBetaCfgPrm(prmKey)" readonly="false"></c4p-check></a>
                                    </div>
                                    /-
                                    <div class="col-xxs-12 col-xs-6  col-sm-4   controls dropdown pull-left">
                                        <a class="dropdown-toggle btn btn-link c4p-link5" data-toggle="dropdown">
                                            <span class="pull-left">
                                                <span ng-show="srvConfig.c4pConfig[prmKey]">{{srvLocale.translations.htmlConfigTextYes}} </span>
                                                <span ng-hide="srvConfig.c4pConfig[prmKey]">{{srvLocale.translations.htmlConfigTextNo}} </span>
                                            </span>
                                            <span class="glyphicon glyphicon-caret-down"></span>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="" ng-click="setBetaCfgPrm(prmKey, false)">
                                                    <span>{{srvLocale.translations.htmlConfigTextNo}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="" ng-click="setBetaCfgPrm(prmKey, true)">
                                                    <span>{{srvLocale.translations.htmlConfigTextYes}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    -/
                                </div>
                            </div> -->


                            <!-- Empty row to reserve some space for dropdown dialogs visibility -->
                            <div class="row">
                                <label class="col-xxs-12 control-label">&nbsp;</label>
                                <div class="col-xxs-12 controls">&nbsp;</div>
                            </div>

                    </div>
                </div>

                <div class="row">
                    <!--  App Version -->
                    <div class="col-xxs-12">
                        <small>
                            {{translate('htmlConfigTextAppVersion')}}
                            v<span id="a4pDeviceDetectorWidth" app-version></span>
                            <span id="a4pDeviceDetectorHeight"> {{srvConfig.c4pBuildDate}} {{srvConfig.c4pConfigEnv}}</span>
                            <span ng-show="srvConfig.c4pConfig.exposeBetaFunctionalities">Beta</span>
                        </small>
                    </div>
                </div>

        </div>
    </div>
</div>
