<div class="c4p-footer-details c4p-color-{{getTypeColor(srvNav.item.a4p_type)}}-gradient2"
     resize-opts="{name:'navigation_footer_related', watchRefresh:['srvNav.item', 'srvNav.history']}">
    <!-- Back button  -->
    <div class="btn c4p-color-action-transparent" ng-show="responsiveIsOnePageFormat()" ng-click="gotoBack()"
         resize-opts="{name:'navigation_footer_related_back'}">
        <span class="c4p-icon-std glyphicon glyphicon-arrow-left"></span>
    </div>
    <!-- space collapsing between inline-block element

 --><div class="btn btn-xs"
         ng-show="responsiveIsOnePageFormat()"
         ng-controller="ctrlNavObject"
         resize-opts="{name:'navigation_footer_related_history', watchRefresh:['srvNav.item', 'srvNav.history']}"
         resizecss-width="getResizePathValue('navigation_footer_related', '', 'offsetWidth') -1 -getResizePathValue('navigation_footer_related_back', '', 'offsetWidth') -getResizePathValue('navigation_footer_related_lock', '', 'offsetWidth') -getResizePathValue('navigation_footer_related_spacer', '', 'offsetWidth') - getResizePathValue('navigation_footer_related_meeting', '', 'offsetWidth')">
        <ul style="overflow-x:hidden;" class="c4p-list-footer-details">
            <!-- Navigation history -->
            <li class="c4p-item-list-footer-details"
                ng-repeat="back in srvNav.history | limitTo:3"
                ng-class="{'c4p-item-list-ftr-footer-details':$last}" style="opacity: {{1-(0.33*$index)}}">
                <small>
                    <span class="glyphicon glyphicon-{{back.itemIcon}}"></span>
                    <span ng-switch="!back.itemName">
                        <span ng-switch-when="true"> {{srvLocale.translations.htmlSlideName[back.slide]}} </span>
                        <span ng-switch-default> {{back.itemName}} </span>
                    </span>
                </small>
            </li>
        </ul>
    </div>
    <!-- space collapsing between inline-block element

 --><!-- spacer to have the footer taker the same size as other footer/header
 --><div class="c4p-hf-spacer" resize-opts="{name:'navigation_footer_related_spacer'}">
        <div class="btn">
            <div class="c4p-icon-std glyphicon">&nbsp;</div>
        </div>
    </div>
    <!-- space collapsing between inline-block element

 --><!-- Screen Locker
 --><div class="btn"
         ng-show="responsiveIsOnePageFormat() && srvSecurity.isSecured()"
         ng-click="openDialogLocked()"
         resize-opts="{name:'navigation_footer_related_lock'}">
        <a class="c4p-link2">
            <span class="glyphicon glyphicon-lock"></span>
        </a>
    </div>

</div>


