<!doctype html>
<!--
    navigation/main.html
    inputs :
      none
    ctrl :
      ctrlNavigation
-->

<!-- Movable zone -->
<div ng-controller="ctrlAside">

    <!-- ### left toolbar ### -->
    <div class="c4p-ltr c4p-height-full"
        ng-style="{width:(responsiveToolbarWidth())+'px'}">
        <div id=""
            class="col-xxs-12 c4p-height-full"
             ng-style="{width:(responsiveAsideWidth()+ responsiveToolbarWidth())+'px'}"
             resize-opts="{name:'navigation_ctrlAside'}"
             ng-include="'partials/navigation/aside_root.html'">
        </div>
    </div>

    <div class="c4p-ltr c4p-click-intercepted"
         ng-style="{height:(responsivePageHeight() - 44)+'px'}"
         style="z-index: 3; width: 0px"
         ng-switch on="asideRootMenuUp">
        <div ng-switch-when="false"
             class="c4p-click-intercepted"
             ng-style="{height:(responsivePageHeight() - 44)+'px', width:responsiveAsideWidth()+'px'}"
             style="position: relative;" >
             <div ng-include="'partials/navigation/aside_search.html'"></div>
        </div>
    </div>

    <!-- ### middle panel ### -->
    <div class="c4p-ltr c4p-height-full c4p-click-through"
        ng-style="{height:(responsivePageHeight())+'px',width:responsiveCentralContainerWidth()+'px'}"
        resize-opts="{name:'navigation_ctrlPanelMove'}"
        sense-opts="{name:'navigation_ctrlPanelMove', axeX:'scroll', init:'setSensePanel($sense)'}"
        sense-scrollopts="{scrollbarClass:'c4p-scrollbar', hScrollbar : false, x:getPanelX(), momentum: 0}"
        sense-afterscrollend="onPanelAfterScrollEnd($x, $y)"
        style="z-index: 5;">
        <div class="c4p-ltr c4p-height-full"
            resize-opts="{name:'navigation_panel_scroller'}"
            ng-style="{width:(responsiveAsideWidth() + responsiveDetailWidth() + responsiveRelatedWidth())+'px'}">

                <div id="a4pAside"
                     class="c4p-ltr c4p-click-through"
                     ng-style="{height:(responsivePageHeight() - 44)+'px', width:responsiveAsideWidth()+'px'}"
                     resize-opts="{name:'navigation_translucent'}"
                     ontouchstart="a4pBlockMove(event)">
                    <div ng-include="'partials/navigation/translucent_panel.html'">
                    </div>
                </div>

                <div id="a4pPage" class="c4p-ltr c4p-click-intercepted">
                    <div ng-switch on="getSlideFromNavIndex()">
                        <div ng-switch-when="config">
                            <div ng-controller="ctrlConfig"
                                 ng-include="'partials/navigation/config.html'"
                                 ng-style="{width:(responsiveMainWidth() + (!responsiveIsOnePageFormat() * responsiveRelatedWidth()))+'px'}">
                            </div>
                        </div>
                        <div ng-switch-when="calendar">
                            <div ng-controller="ctrlCalendar"
                                 ng-include="'partials/navigation/calendar.html'"
                                 ng-style="{width:(responsiveMainWidth() + (!responsiveIsOnePageFormat() * responsiveRelatedWidth()))+'px'}">
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div ng-controller="ctrlDetail"
                                 ng-include="'partials/navigation/view_n.html'"
                                 ng-style="{width:(responsiveDetailWidth() + responsiveRelatedWidth())+'px'}">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- ### right toolbar ### -->
    <!-- Hidden in portrait mode  ng-hide="responsiveIsOnePageFormat()" -->
    <div ng-controller="ctrlRightToolbar"
         class="c4p-ltr c4p-toolbar c4p-height-full"
         ng-if="!responsiveIsOnePageFormat()"
         ng-style="{width:(responsiveToolbarWidth())+'px'}"
         resize-opts="{name:'right_toolbar'}"
         style="box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);z-index: 6;">

            <div class="c4p-toolbar-header c4p-color-a-gradient2"
                 resize-opts="{name:'right_toolbar_header'}"
                 ng-show="(getSlideFromNavIndex() != 'calendar')">
                <div class="btn c4p-color-action-transparent c4p-padding-w-packed"
                     ng-click="toggleNavRelated()">
                    <span class="c4p-icon-std glyphicon glyphicon-link"></span>
                </div>
            </div>

            <div class="c4p-color-a-gradient2 row"
                 sense-opts="{name:'right_toolbar_wrapper', axeY:'scroll', watchRefresh:['srvNav.item', 'srvNav.itemRelatedGroupList']}"
                 sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
                 resize-opts="{name:'right_toolbar_wrapper'}"
                 resizecss-height="responsivePageHeight() - getResizePathValue('right_toolbar_header', '', 'offsetHeight')">

                <div class="col-xxs-12"
                    resize-opts="{name:'right_toolbar_scroller', watchRefresh:['srvNav.item', 'srvNav.itemRelatedGroupList']}">

                        <!-- suggestions -->
                        <div ng-click="setNavRelated(true);showAsideGroupSuggestion(true);">
                            <div class="">
                                <div class="c4p-related-square-icon">
                                    <span class="c4p-icon-std glyphicon"></span>
                                </div>
                                <div class="c4p-related-square-text"><span>&nbsp;</span></div>
                            </div>
                        </div>

                        <!-- the related infos -->
                        <div class="c4p-waiting"
                              ng-show="detailRightLoadingSpinner"
                              c4p-animateshow="detailRightLoadingSpinner"
                              after-hide="afterRightLoadingSpinnerHide()"
                              after-show="afterRightLoadingSpinnerShow()">
                              ...
                        </div>
                        <div ng-if="!detailRightLoadingSpinner"
                            ng-repeat="group in srvNav.itemRelatedGroupList"
                            ng-show="group.type != 'Plan' && group.type != 'Facet'"
                            ng-class="{'active': linksPageY == $index}"
                            ng-click="setNavRelated(true);showAsideGroup(group, true);">
                            <div class="c4p-color-{{group.colorType}}-dark-iii">
                                <div class="c4p-related-square-icon">
                                    <span class="c4p-icon-std glyphicon glyphicon-{{group.icon}}"></span>
                                </div>
                                <div class="c4p-related-square-text"><span>{{group.size}}</span></div>
                            </div>
                        </div>

                </div>
            </div>

        </div>
</div>
