
<!-- grab zone  -->
<div class="btn c4p-padding-w-packed c4p-color-gradient0 c4p-click-intercepted"
     style="position:absolute; top:50%; right: 0;height:2em; margin-top:-1em;box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);z-index: 5;"
     ng-click="setNavAside(false)"
     ng-show="responsiveIsOnePageFormat() && (srvNav.current == null) ">
    <span class="c4p-icon-std glyphicon glyphicon-ellipsis-v"></span>
</div>


<!-- drop zone -->
<div class="half-circle-left c4p-color-gradient0 c4p-click-intercepted"
     style="position:absolute; top:50%; right: 0; margin-top:-4em;box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);z-index: 8;"
     ng-show="responsiveIsOnePageFormat() && (srvNav.current!=null) "
     ng-class="{'c4p-dropzone-active': dndActive, 'c4p-dropzone-active-hover': dropOver}"
     ng-controller="ctrlLinkActions"
     ng-click="setNavAside(false)"
     sense-opts="{name:'navigation_detail_small_drop_zone'}"
     sense-dndstart="dndStart($event)"
     sense-dndend="dndEnd($event)"
     sense-dndcancel="dndCancel($event)"
     sense-dropstart="dropStart($event)"
     sense-dropend="dropEnd($event)"
     sense-dropcancel="dropCancel($event)"
     sense-dropoverenter="dropOverEnter($event)"
     sense-dropoverleave="dropOverLeave($event)">

    <div class="c4p-icn-side-drop">
        <span class="c4p-icon-std glyphicon glyphicon-{{srvNav.current.itemIcon}} "></span>
    </div>
    
    <!--
    <c4p-thumb width="30" height="30"
        text="{{srvNav.current.itemName}}" indic="{{srvNav.current.itemRelationCount}}"  
        icon="glyphicon-{{srvNav.current.itemIcon}}" color="{{srvNav.current.itemColor}}"
        url="{{srvNav.current.thumb_url}}">
    </c4p-thumb>
    -->

    <div class="c4p-txt-side-drop"> <!-- ng-hide="dndActive" -->
        <div class="rotate-txt">
            <div class="c4p-no-dot-container">
                <!--<span class="c4p-no-dot:srvNav.current.itemName;">{{srvNav.current.itemName}}</span>-->
                <small class="a4p-dot">{{srvNav.current.itemName}}</small>
            </div>
        </div>
    </div>
</div>
