
<div sense-opts="{name:'detailed_links_wrapper', axeY:'scroll', watchRefresh:['srvNav.itemRelatedGroup', 'srvNav.item.a4p_type']}"
     sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
     resize-opts="{name:'detailed_links_wrapper'}"
     resizecss-height="responsivePageHeight() -getResizePathValue('detailed_links_header', '', 'offsetHeight')">

    <div resize-opts="{name:'detailed_links_scroller', watchRefresh:['srvNav.itemRelatedGroup', 'srvNav.item.a4p_type']}">

        <div class="c4p-related-card"
             ng-repeat="objectType in objectTypes()"
             ng-show="isPossibleLinkAction(srvNav.item.a4p_type, objectType)">
            <ul class="c4p-related-card-list">
                <li class="c4p-related-card-header c4p-color-{{objectTypeColor(objectType)}}-dark-iii">
                    <span class="glyphicon glyphicon-{{objectTypeIcon(objectType)}}"></span>
                    <span>{{srvLocale.translations.htmlTitleType[objectType]}}</span>
                </li>
                <li class="c4p-related-card-item c4p-color-{{objectTypeColor(objectType)}}-gradient3"
                    ng-repeat="linkName in getPossibleLinkActionList(srvNav.item.a4p_type, objectType)">
                    <div class="btn c4p-padding-w-packed ">
                        {{srvLocale.translations.htmlShortLinkName[linkName]}}
                    </div><!--
                    --><div class="btn c4p-padding-w-packed pull-right">
                            <span class="c4p-icon-std glyphicon glyphicon-list c4p-color-action-transparent c4p-related-card-item-icon"
                                  ng-click="linkAddDialog(srvNav.item, linkName, objectType)"></span>

                            <span class="c4p-icon-std glyphicon glyphicon-plus c4p-color-action-transparent  c4p-related-card-item-icon"
                                  ng-click="createAndLinkDialog(srvNav.item, linkName, objectType)"></span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

 </div>
<!--
<div class="row" style="margin:0;">
    <footer ng-include="'partials/navigation/footer_related.html'"></footer>
</div>
-->
