<!doctype html>
<!-- controller is ctrlDetail

sense-opts="{name:'detailed_links_wrapper', axeY:'scroll', watchRefresh:['srvNav.itemRelatedGroupList', 'srvNav.item', 'linksTimestamp'], init: 'setLinksScroller($sense)'}"
     sense-scrollopts="{scrollbarClass:'c4p-scrollbar', pageSelector: 'div.c4p-related-card', momentum:0}"
     sense-afterscrollend="onLinksScrollEnd($event)"
     resize-opts="{name:'detailed_links_wrapper'}"
     resizecss-height="responsivePageHeight() -getResizePathValue('detailed_links_header', '', 'offsetHeight')"


    <div class="col-xxs-12"
        resize-opts="{name:'detailed_links_scroller', watchRefresh:['srvNav.itemRelatedGroupList', 'srvNav.item']}">

-->

<div class="c4p-container-scroll-y">
    <div class="c4p-container">


        <!-- Suggestions-->
        <div class="c4p-related-card c4p-color-a-gradient1" ng-controller="ctrlAction" ng-init="watchSrvNav();">
            <ul class="c4p-related-card-list">

                <!--<li
                    class="c4p-related-card-header c4p-color-j-dark-iii"
                    ng-click="showAsideGroupSuggestion(!bShowAsideGroupSuggestion)">
                    <span class="glyphicon glyphicon-fw glyphicon-ellipsis-h"></span>
                </li>ng-show="bShowAsideGroupSuggestion">-->
                <li id="related_suggestion">
                    <div class="row c4p-color-j-gradient3">

                        <div class="col-xxs-8 col-xxs-offset-2">
                            <!-- //todo MLE: refactor in methodList in ctrlAction -->
                            <div class="btn-group btn-group-justified btn-block">
                                <a class="btn close"
                                  ng-show="srvData.isMethodPossibleForObject('createNewPicture', srvNav.item)"
                                  ng-click="createNewPicture(srvNav.item)"
                                  style="padding-bottom:0;padding-top:0;">
                                      <span class="glyphicon-stack">
                                        <i class="glyphicon glyphicon-camera glyphicon-stack-1x"></i>
                                      </span>
                                </a>
                                <a class="btn close"
                                  ng-hide="srvData.isMethodPossibleForObject('createNewPicture', srvNav.item)"
                                  style="padding-bottom:0;padding-top:0;">
                                      <span class="glyphicon-stack">
                                        <i class="glyphicon glyphicon-camera glyphicon-stack-1x"></i>
                                        <i class="glyphicon glyphicon-ban glyphicon-stack-2x"
                                          style="font-size: 0.7em;text-align: right;color: red;padding-right: 0.2em;padding-top: 1.5em;"></i>
                                      </span>
                                </a>

                                <a class="btn close"
                                  ng-show="srvData.isMethodPossibleForObject('createNewNote', srvNav.item)"
                                  ng-click="createNewNote(srvNav.item)"
                                  style="padding-bottom:0;padding-top:0;">
                                    <span class="glyphicon-stack" >
                                      <i class="glyphicon glyphicon-{{getTypeIcon('Note')}} glyphicon-stack-1x"></i>
                                    </span>
                                </a>
                                <a class="btn close"
                                  ng-hide="srvData.isMethodPossibleForObject('createNewNote', srvNav.item)"
                                  style="padding-bottom:0;padding-top:0;">
                                    <span class="glyphicon-stack" >
                                      <i class="glyphicon glyphicon-{{getTypeIcon('Note')}} glyphicon-stack-1x"></i>
                                      <i class="glyphicon glyphicon-ban glyphicon-stack-2x"
                                        style="font-size: 0.7em;text-align: right;color: red;padding-right: 0.2em;padding-top: 1.5em;"></i>
                                    </span>
                                </a>
                                <!--<a  ng-hide="srvData.isMethodPossibleForObject('createNewNote', srvNav.item) || srvData.isMethodPossibleForObject('createNewPicture', srvNav.item)"
                                    class="btn" ng-click="openDialogSendFeedbackReport('Your Praise','Suggestion',srvLocale.translations.htmlMsgFeedbackSuggestion)">
                                    <small>{{srvLocale.translations.htmlMsgFeedbackSuggestionQuestion}}</small>
                                </a>-->
                            </div>
                            <div class="btn-block well well-sm" style="border-radius: 1em;"
                                    ng-show="srvNav.itemRelatedGroupList.length == 0" >
                                <a  class="btn c4p-gray"
                                    style="white-space:normal"
                                    ng-click="setAsideRootMenu()">
                                    <span class="c4p-size-smaller">
                                    {{detailGetHtmlLinkHowTo}}
                                    </span><br><br>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>



                        <!--
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <ul class="nav nav-pills nav-justified">
                                    <li>
                                        <a class="btn" ng-click="takePicture()">
                                            <span class="glyphicon glyphicon-camera"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" ng-click="takeNote()">
                                            <span class="glyphicon glyphicon-pencil-square-o"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                //<div ng-show="srvNav.itemRelatedGroupList.length == 0"
                                //    style="text-align: center; padding: 1em;">
                                //    class="btn c4p-infos-txt"
                                <ul class="nav nav-pills nav-justified">
                                    <li>
                                        <a class="btn c4p-infos-txt"
                                         ng-click="setAsideRootMenu()">
                                        {{translate('htmlViewNlinkItemTextNoRelation')}}
                                        <span class="c4p-icon-std glyphicon glyphicon-plus"></span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul> -->

                    </div>
                </li>
            </ul>
        </div>



        <!-- N+1 object groups -->
        <div ng-init="linkItemsActionIsPossible = true" ng-include="'partials/navigation/view_n_2_links_list.html'"></div>

    </div>
</div>
<!--
<div class="row"
     style="margin:0;"
     class="c4p-color-{{getTypeColor(srvNav.item.a4p_type)}}-gradient2">
    <footer ng-include="'partials/navigation/footer_related.html'"></footer>
</div>
-->
