<!doctype html>
<!--
  controller is ctrlDetail

-->
<div class="c4p-container c4p-color-gradient0" resize-opts="{name:'navigation_view_n'}">


        <!-- Details Content -->
        <div class="c4p-ltr c4p-height-full ng-cloak"
             ng-style="{width:responsiveDetailWidth()+'px'}"
             resize-opts="{name:'navigation_view_detailed'}">

            <div class="btn c4p-padding-w-packed c4p-color-gradient0"
                 style="position:absolute; top:50%; right: 0;height:2em; margin-top:-1em;box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);z-index: 10;"
                 ng-click="setNavRelated(true)"
                 ng-show="responsiveIsOnePageFormat()">
                <span class="c4p-icon-std glyphicon glyphicon-ellipsis-v"></span>
            </div>

            <!-- ng-style="{'max-width':(responsivePageWidth())+'px'}" -->
            <div class="c4p-waiting"
                ng-show="detailLoadingSpinner"
                c4p-animateshow="detailLoadingSpinner"
                after-hide="afterDetailSpinnerHide()"
                after-show="afterDetailSpinnerShow()">
                <div ng-include="'views/spinner.html'"></div>
            </div>

            <div ng-if="!detailLoadingSpinner">
                <div ng-include="'views/navigation/view_n_1.html'"></div>
            </div>
        </div>

        <!-- Related -->
        <div class="c4p-ltr c4p-height-full ng-cloak"
             ng-style="{width:responsiveRelatedWidth()+'px'}"
             resize-opts="{name:'navigation_view_links'}">

            <div ng-include="'views/navigation/view_n_2.html'"></div>
        </div>

</div>
