<!doctype html>
<div ng-controller="ctrlDetailedObject" ng-init="init(srvNav.item);" class="c4p-color-a-gradient{{cards.length}}">
	<div ng-controller="ctrlAction" ng-init="watchSrvNav();">

		<!-- Header -->
		<div class="col-xxs-12 c4p-header-std c4p-header-details c4p-color-gradient0"
			resize-opts="{name:'navigation_detail_title'}"
			ng-include="'views/navigation/view_n_1_header.html'"></div>


		<!-- Details -->
		<div class="col-xxs-12"
			sense-opts="{name:'detailed_item_wrapper', axeY:'scroll', watchRefresh:['srvNav.item', 'srvNav.itemRelatedList[srvNav.itemRelatedGroup.type]']}"
			sense-scrollopts="{scrollbarClass:'c4p-scrollbar', momentum:0}"
			resize-opts="{name:'detailed_item_wrapper'}"
			resizecss-height="responsivePageHeight() - getResizePathValue('navigation_detail_title', '', 'offsetHeight') - getResizePathValue('navigation_footer_detail', '', 'offsetHeight')">

			<div class="col-xxs-12 c4p-color-gradient0"
				resize-opts="{name:'detailed_item_scroller', watchRefresh:['srvNav.item', 'srvNav.itemRelatedList[srvNav.itemRelatedGroup.type]']}">
				<!-- each cards -->
				<div ng-repeat="card in cards"
					class="c4p-color-a-gradient{{$index}} c4p-card row"
					ng-class="{'c4p-card-thumb': $first, 'c4p-card-synchronized' : $first && (srvNav.item.c4pSynchroStatus.cloud.progress == 100), 'c4p-card-synchronized-not' : $first && (srvNav.item.c4pSynchroStatus.cloud.progress < 100), 'c4p-card-synchronized-pb' : $first && (srvNav.item.c4pSynchroStatus.cloud.status == 1)}"
					ng-init="cardItem = srvNav.item; cardGroups = card.groups; cardHasThumb = ($first == true); cardItemName = itemName; cardIsAboutVideo = isVideo; cardIsAboutFile = isFile; cardItemColor = 'c4p-color-'+itemColor"
					ng-include ="'views/navigation/cards/detail_card.html'"></div>
			</div>

			<!-- OUTSIDE the scroller zone : Modal droppable zone to activate Link actions -->
			<div ng-controller="ctrlLinkActions">

				<div
					ng-show="dndActive"
					style="position: absolute; z-index: 1041; top: 0; left: 0; bottom:0; right:0;"
					ng-class="{'c4p-dropzone-active': dndActive, 'c4p-dropzone-active-hover': dropOver}"
					resize-opts="{name:'navigation_detail_link_drop_zone', watchRefresh:['getSensePanelScrollX()', 'srvNav.item.id.dbid']}"
					resizecss-height="getResizePathValue('detailed_item_wrapper', '', 'offsetHeight')"
					sense-opts="{name:'navigation_detail_link_drop_zone'}"
					sense-dndstart="dndStart($event)" sense-dndend="dndEnd($event)"
					sense-dndcancel="dndCancel($event)"
					sense-dropstart="dropStart($event)"
					sense-dropend="dropEnd($event)"
					sense-dropcancel="dropCancel($event)"
					sense-dropoverenter="dropOverEnter($event)"
					sense-dropoverleave="dropOverLeave($event)">

					<div>
						<!--
						resize-opts="{name:'navigation_detail_link_zone_wrapper', watchRefresh:['getSensePanelScrollX()', 'srvNav.item']}"
						sense-opts="{name:'navigation_detail_link_zone_wrapper', axeY:'scroll', watchRefresh:'srvNav.itemRelatedList'}">

						<div>
							<span>
								{{translate('htmlCardsTextActionAs')}}
								{{srvLocale.translations.htmlShortLinkName[fromLink]}}
							</span>
						</div>--><div>&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
			<!--

			<div class="row" style="margin:0;"
			     ng-style="{width:getDetailWidth()+'px'}"
			     resize-opts="{watchRefresh:['srvNav.item', 'srvNav.history.length']}">
			    <footer ng-include="'views/navigation/footer_detail.html'"></footer>
			</div>

			-->
	</div>
</div>
